intro paragraph

<ul>
  <li><%= link_to "Frequently Asked Questions (FAQ)", help_faq_path %></li>
  <li>Topics
    <ul>
      <li>Topic help 1</li>
    </ul>
  </li>
</ul>

<%= link_to "blah", help_instructor_getting_started_path %>
<p> <%= render :partial => 'help/blurbs/topic' %> <p>

  