intro paragraph

<ul>
  <li><%= link_to "Frequently Asked Questions (FAQ)", help_faq_path %></li>
  <li>Topics
    <ul>
      <li><%= link_to "Topic help", help_topics_path %></li>
    </ul>
  </li>
</ul>

<%= link_to "blah", help_instructor_getting_started_path %>
<p> <%= render :partial => 'help/blurbs/topic' %> <p>

  