<%= pageHeading "Help" %>
  

<p>  <%= link_to "Getting Started as an Instructor", help_instructor_getting_started_path %></p>

<p>  <%= link_to "Getting Started as a Student", help_student_getting_started_path %><p>
  
  <p> <%= link_to "Frequently Asked Questions", help_faq_path %> </p>
  
  Instructor Help topics
  
  Class settings<br/>
  Topics<br/>
  Learning Conditions<br/>
  Assignments<br/>

Students -- all topics are on getting started page. Any other help topics?<br/>
    
Inline help -- edit class, topics, assignments, learning conditions<br/>
  