Getting Started for Instructors

<p>Welcome to OpenStax Tutor! This page will introduce you to OpenStax Tutor (OST) and describe what is required to set up your class. </p>
  
<p>We recommend you begin by watching our introductory screencasts. Next, check out our overview of the steps involved in setting up your class in OST. The overview explains the general process without going into too much detail. If you'd like to learn more about any particular step, click on the links in the text. We hope that our Getting Started guide will help you develop a strong grasp of what OST is all about. </p>

Screencasts -- 2 minute introduction to OST, adding course content, creating assignments, setting up learning and feedback conditions
 
<ol>
  <p><li><strong>Register to teach a class in OST.</strong></li></p>
    <ol>
      <li>Sign up for an OST account. </li>
      <li>Submit request to add your class to OST Course Catalog. </li>
    </ol>
  <p><li><strong>Plan your class before adding any course materials to OST.</strong></li></p>
    <ol>
      <li>Plan what course materials, i.e. resources and exercises, you will assign to students.</li>
        <ul>
          <li>Add resources to CNX and/or find existing CNX content to use.</li>
          <li>Add exercises and solutions to OpenStax Exercises (OSE), or find and adapt existing OSE content for use in your class.</li>
        </ul>
      <li>Organize and sequence related course materials into topics.</li>
      <li>Plan the assignments (homeworks and tests) you will assign via OST: </li>
        <ul>
          <li>How many assignments will you give?</li>
      	  <li>What topic(s) will each assignment cover?</li> 
        	<li>Will you use OST’s Scheduler feature, which allows you to distribute practice over time? If so, over what interval will you     
        	    distribute practice? </li>
          <li>Will you use OST’s Feedback feature, which allows you to control the feedback your students receive on individual exercises 
              worked in OST? If so, what type of feedback do you wish to give your students? </li>
        </ul>
      <li>Decide if you will partner with OST researchers to run an educational experiment in connection with your class. </li>
        <ul>
          <li>What experimental learning conditions will you examine?</li>
          <li>How many cohorts will your class have?</li> 
    </ol>
  <p><li><strong>Add content to OST.</strong></li></p>
    <ol>
      <li>Enter/edit basic class information. (link to page describing what info to add.) </li>
      <li>Customize class Learning Conditions and Cohorts, if any. (link) </li>
      <li>Customize class Learning Plan. </li>
        <ul>
          <li>Add course materials in the Topics section, as planned in 2.1 and 2.2. </li>
          <li>Create homeworks and tests in the Assignments section, as planned in section 2.3. </li>
          <li>View/schedule assignments using calendar in Scheduling section. </li>
    </ol>
  <p><li><strong>Manage class.</strong></li></p>
  <ol>
    <li>Manage student enrollment. </li>
    <li>View assignments in Assignment dashboard. </li>
    <li>View student performance in Assignment dashboard.</li>
    <li>Export report containing all OST data pertaining to your class. </li>
  </ol>
    