<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= form_for([@assignment_plan, @assignment_plan_topic], :remote => true) do |f| %>

  <% if @available_topics.empty? %>
    <p>All available topics have already been added to this assignment!</p>
  <% else %>
    <p>Select the topic that you want to add to this assignment</p>

    <div class="field">
      Topic: 
      <%= f.select :topic_id, options_from_collection_for_select(@available_topics, :id, :name)%>
    </div>
    <div class="actions">
      <%= f.submit "Add this topic", :class => 'link_button' %>
    </div>
  <% end %>
  
<% end %>
