<tr>
  <th><%= group_name %><th>
</tr>
<% users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user_become_path(user), :method => :post %><td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
  </tr>
<% end %>