<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "#{@klass.course.name} Cohorts"%>

<p>A cohort is a student group that receives the same assignment schedule 
  and feedback. By default, OST creates <em>one (1) cohort</em> for each class. 
  Unless you are designing a learning experiment, changing the default setting is not advised.</p>


<%= uber_list @cohorts, :name %>

<% 
  navitem(:can_create?, Cohort.new(:klass => @klass)) { link_to('New Cohort', new_klass_cohort_path(@klass)) } 
  navitem(:can_read?, @klass) { link_to('Class', klass_path(@klass)) }
%>
