<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "#{@klass.course.name} Cohorts"%>

<p>Create more than one cohort only if you want <%= SITE_NAME %>
   to randomly assign students into experimental and 
   control groups. Unless you are designing a learning experiment,
   changing the default setting is not 
   advised.</p>
 <p>If you'd like to create administrative groupings 
   in a class, set up multiple sections on the Sections page.</p>

<%= uber_list @cohorts, :name %>

<% 
  navitem(:can_create?, Cohort.new(:klass => @klass)) { link_to('New Cohort', new_klass_cohort_path(@klass)) } 
  navitem(:can_read?, @klass) { link_to('Class', klass_path(@klass)) }
%>
