<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "New Cohort" %>

<p>NOTE: Cohorts added after classes have started will be empty; students in the other cohorts will not be redistributed to this new cohort.</p>

<%= render 'form' %>

<%
  navitem { link_to 'Cohort List', klass_cohorts_path(@klass) }
%>
