<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Cohort Details" %>

<p>
  <b>Section:</b>
  <%= @cohort.section.try(:name) || "None" %>
</p>

<p>
  <b>Students</b>
  <%= uber_list @cohort.students, nil, {:hide_trash => true, :hide_edit => true} do |entry| %>
    <% entry.full_name(present_user) + " (" + student_status_string(entry) + ")" %>
  <% end %>
</p>

<% 
  navitem { link_to 'Edit', edit_cohort_path(@cohort) } 
  navitem { link_to 'Cohort List', klass_cohorts_path(@cohort.klass) }
%>
