<%= pageHeading "Cohort Details" %>

<p>
  <b>Section:</b>
  <%= @cohort.section.try(:name) || "None" %>
</p>

<% 
  navitem { link_to 'Edit', edit_cohort_path(@cohort) } 
  navitem { link_to 'Cohort List', klass_cohorts_path(@cohort.klass) }
%>
