<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Learning Conditions: #{@klass.course.name}" %>

<p>Learning conditions are customizable rules that enable you to customize your 
	students' experiences using <%= SITE_NAME %>. <u>Before</u> releasing any assignments, 
	you'll need to set up the Scheduler, presentation conditions, and feedback conditions. 
	We strongly advise you check out our <%= link_to "detailed help tutorial", help_learning_conditions_path, :target => '_blank' %>.</p>

<% if @klass.cohorts.none? %>
  <p>To see and set learning conditions, please first make one or more cohorts for this class!</p>
<% else %>

  <% @klass.cohorts.each do |cohort| %>
    <%= render :partial => 'cohort_learning_condition', :locals => { :cohort => cohort } %>
  <% end %>

<% end %>

<% navitem { link_to "Class", klass_path(@klass) }%>