<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Learning Conditions" %>

<p>We strongly advise that you chat with the OpenStax team before making a bunch 
   of changes here, as the settings below strongly impact the experience that your
   students will have on <%= SITE_NAME %>.</p>

<% if @klass.cohorts.none? %>
  <p>To see and set learning conditions, please first make one or more cohorts for this class!</p>
<% else %>

  <% @klass.cohorts.each do |cohort| %>
    <%= render :partial => 'cohort_learning_condition', :locals => { :cohort => cohort } %>
  <% end %>

<% end %>

<% navitem { link_to "Class", klass_path(@klass) }%>