.bundle
db/*.sqlite3*
db/data.yml*
log/*.log*
tmp/**/*
*.DS_Store
config/developer_settings.yml
config/secret_settings.yml
config/deploy_settings.yml
public/system/**
public/uploads/**
db/data.yml
db/.data.yml.gz
*~
.vagrant
brakeman.html
cucumber_rerun.txt
rspec.failures
vendor/cache
.sass-cache
