<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% lcpc = learning_condition_presentation_condition %>

<% @errors = lcpc.errors %>

<%= form_for lcpc do |f| %>

  <%= f.fields_for :presentation_condition do |nested_form| %>

    <%= render partial: "presentation_conditions/form_fields",
               locals:  { form: nested_form } %>

  <% end %>

  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
