<% lcpc = learning_condition_presentation_condition %>

<div>
  <%= render partial: "presentation_conditions/show",
             locals:  { presentation_condition: lcpc.presentation_condition } %>
</div>
