<% @errors = feedback_condition.errors %>

<%= form_for feedback_condition do |f| %>

  <%= render partial: 'feedback_conditions/form_fields',
             locals:  { feedback_condition: feedback_condition,
                        form:               f } %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
