<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients must supply:
      assignment_exercise
%>

<%
   exercise_data = assignment_exercise.topic_exercise.exercise.content
%>

<div class:="question multiple-choice">
  <ul class="unstyled">
    <% exercise_data["simple_question"]["answer_choices"].each_with_index do |answer_choice, ii| %>
    <li>
       <span class="choice-letter"><%= choice_letter(ii) %>)</span>
       <span class="answer-choice"><%= answer_choice["html"].html_safe %></span>
    <li>
    <% end %>
  </ul>
</div>
