<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients must supply:
      assignment_exercise
%>

<% exercise_data = assignment_exercise.topic_exercise.exercise.content %>

<div class="exercise-question">
    <div class="question question-box">

      <% if !exercise_data["simple_question"]["introduction"].nil? %>
        <%= exercise_data["simple_question"]["introduction"]["html"].html_safe %>
      <% end %>

      <%= exercise_data["simple_question"]["content"]["html"].html_safe %>

    </div>

    <%= section "Choices", {:collapsible => true, :collapsed => true, :classes => 'first no_bar' } do %>
      <% render 'choices', assignment_exercise: assignment_exercise %>
    <% end %>

</div>
