<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @count ||= -1 %>
<% @count += 1 %>
<tr>
  <td align="center"><%= index %></td>
  <td><%= text_field_tag "scheduler[schedules][#{schedule_number}][][percent]", row[:percent] %></td>
  <td><%= text_field_tag "scheduler[schedules][#{schedule_number}][][tags]", row[:tags] %></td>
</tr>