<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if scheduler.schedules.empty? %>

  <p>No schedules set yet</p>

<% else %>

  <% scheduler.schedules.each_with_index do |schedule, ii| %>
  
    Schedule <%= ii+1 %><br/>
  
    <div style="padding-left:15px">
      <% schedule.each do |rule| %>
        <div>
          <%= rule[:percent] %>% <%= "&rarr; #{rule[:tags].split(',').collect{|t| t.strip.downcase}.join(', ')}".html_safe if !rule[:tags].blank? %>
        </div>
      <% end %>
    </div>
  
  <% end %>
  
<% end %>