<% @errors = presentation_condition.errors %>

<%= form_for presentation_condition do |f| %>

  <%= render partial: 'presentation_conditions/form_fields',
             locals:  { presentation_condition: presentation_condition,
                        form:                   f } %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
