<% lcdfc = learning_condition_default_feedback_condition %>

<div>
  <p><i>This Feedback Condition will be automatically applied to an Exercise
        if no other matching Feedback Conditions is found.</i></p>
  <%= render partial: "feedback_conditions/show",
             locals:  { feedback_condition: lcdfc.feedback_condition } %>
</div>
