<%= form_for([@assignment, @assignment_topic], :remote => true) do |f| %>

  <div class="field">
    Topic: 
    <%= f.select :topic_id, options_from_collection_for_select(@assignment.learning_plan.topics, :id, :name)%>
  </div>
  <div class="actions">
    <%= f.submit "Add this topic" %>
  </div>
<% end %>
