<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div id="exercise_response_show"> 
  
  <%= render :partial => 'an_answer', :locals => { :exercise     => student_exercise.exercise,
                                                   :phrase       => "You chose answer",
                                                   :answer_index => student_exercise.selected_answer } %>
  
  <center>
    <p>Navigate to any remaining incomplete questions<br/> using the links on the right side of the page.</p>
  </center>

</div>