<div id="exercise_response_show"> 
  
  <p>Choose the multiple-choice answer below that corresponds to the answer you wrote above.</p>

  <%= render :partial => "multiple_choice_form", :locals => { :student_exercise => student_exercise } %>

</div>