<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% options[:classes] ||= "" %>

<div id="important" class="<%= options[:classes] %>" style="float:right; margin-right:30px; font-weight: bold">
  <%= text %>
</div>