<% sub_heading_text ||= "" %>

<div id="page_heading" style="float:left;">
  <%= heading_text %>
  <% if !sub_heading_text.blank? %>
    <div id="page_sub_heading">[<%= sub_heading_text %>]</div>
  <% end %>
</div>