<% @highlight = :about %>

<%= pageHeading "About #{SITE_NAME}"%>

<p><%= SITE_NAME %> leverages new cyber and social
  infrastructures to put powerful learning tools in the hands of educators and learners.</p>
  
<p>The system uniquely fuses:</p>

<table>
  <tr>
    <td style="vertical-align:top"><b>Cognitive Science</b></td>
    <td>Our system builds on three principles from cognitive science that 
      are robust, highly replicable, and generalize across different types 
      of learners, materials, and contexts:  <i style="white-space:nowrap">retrieval practice</i>, <i>spacing</i>, 
      and <i>feedback</i>. Each of these principles has been shown to increase
      long-term retention and transfer of learning.</td>
  </tr>
  <tr>
    <td style="vertical-align:top"><b>Community Content</b></td>
    <td>We greatly expand the universe of learning content, problems, 
      solutions, and feedback hints available to the learner by bringing 
      together materials and metadata from some of the world’s foremost 
      open-access educational repositories.</td>
  </tr>
  <tr>
    <td style="vertical-align:top"><b>Machine Learning</b></td>
    <td>We increase the flexibility, generalizability, and scalability of the system
    by eschewing hand-coded rules-based systems for providing feedback in favor of data-driven
    machine learning algorithms that learn and optimize feedback by analyzing the large universe of
    content and data from a large number of learner interactions.</td>
  </tr>
</table>