<% @main_div_background_image = 'home_page_image' %>

<% @header_class = "ost_light_beige" %>

<% if false %>
<style type="text/css">
  #main {
    background: image-url("student_full_home.jpg");
  }
</style>

<center>
<div style="width:90%; height: 300px; border: 1px solid black; padding:20px; margin: 20px">
  TBD cool home page
</div>
</center>

<% end %>