<% pageHeading "Sections for #{@klass.course.name}"%>
<p>If your class has multiple sections, set up the sections here. <%= link_to_help 'sections', text="Learn how.", {:title => 'Create Sections'} %></p>

<%= uber_list @sections, :name %>

<% 
  navitem(:can_create?, Section.new(:klass => @klass)) { link_to('New Section', new_klass_section_path(@klass)) } 
  navitem(:can_read?, @klass) { link_to('Class', klass_path(@klass)) }
%>
