<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% pageHeading "Sections for #{@klass.course.name}"%>
<p>If your class has multiple sections, add additional sections here. <%= link_to_help 'sections', 
text="Learn how.", {:title => 'Create Sections', :width => '500', :height => '400'} %></p>

<%= uber_list @sections, :name %>

<% 
  navitem(:can_create?, Section.new(:klass => @klass)) { link_to('New Section', new_klass_section_path(@klass)) } 
  navitem(:can_read?, @klass) { link_to('Class', klass_path(@klass)) }
%>
