<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<span style="white-space:nowrap"><%= coworker.student.full_name(:force) %> <%= trash_button coworker, {:small => true} %>&nbsp;</span>