<p>There are two ways you can access assignments:</p>
<ul>
  <li>Method 1: Sign in. Go to <strong>Dashboard > Class > Assignments section</strong> and click on the <strong>current assignment link</strong>.</link>
  <p>
  <li>Method 2: When an assignment becomes available, <%= SITE_NAME %> will send you the link by email.</li>
</ul>
