<%= section "Teach a new or existing course" do %> 

<p>If the course you plan to teach is in the Course Catalog, but you have never taught the course, do the following.</p>

<ol> 

  <li>Ensure you have registered for an <% SITE_NAME %> OpenStax Tutor account;</li>
    <li>Send a request to EMAIL with the following:</li>
    <ul>
      <li>Organization offering the course, e.g. Rice University;</li>
      <li>Course name, e.g. ELEC 301; and </li>
      <li>Your OpenStax Tutor username, i.e. the id you use to log in to the site.</li>
    </ul>
  <li>Once the administrator completes your request, you are ready to register to teach the class. Go here.</li>
      
</ol>
  
  <% end %>