<p>You can give permissions to co-instructors, teaching assistants or graders. Instructors and teaching assistants have the same level of permissions. Graders can view assignments and grades only.</p>

<p>To add an instructor / teaching assistant / grader:</p>
<ol>
  <li>Before you can add an instructor, assistant or grader, they must create an <%= SITE_NAME %> account.</li>
  <li>Go to <strong>Dashboard > Class</strong> and click <strong>Add an instructor</strong>.</li
  <li>Use the search form to find the user by name, email or username.</li>
  <li>Click <strong>Add</strong> and then <strong>Close</strong>.</li>
  <li>Repeat for other instructors, teaching assistants and graders.</li>
</ol>

<p>To edit/remove member permissions:</p>
<ol>  
  <li>Edit: hold mouse over individual name and click the <strong>orange pencil icon</strong> to change settings.</li>
  <li>Remove: hold mouse over individual name and click the <strong>orange trash icon</strong> to delete.</li>
</ol>
<p>
