<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


  <p><em><strong>To add co-instructor / teaching assistant / grader</strong>:</em></p>
  <p>
    <ol>
      <ol>
      <li>Go to <strong>Dashboard > Class</strong> and click link to add instructor, assistant or grader.</li>
      <%= image_tag("add_instructor.png", {:border => 1, :width => "70%", 
        :height => "70%", :title=>"add instructor, assistant or grader"})%>
      <li>Search for <em><strong>registered</strong> OST users</em> in the form by name,
         email or username.</li>
      <p>
      <li>Next to the user's name, click <strong>Add</strong>, then click <strong>Close</strong> to 
        save. </li>
    </ol>
    </ol>
<p>
  <p><em><strong>To edit/remove instructor, teaching assistant or grader</strong></em>:</p>
    <ol>
      <ol>  
      <p>
      <li>Hold mouse over individual's name to reveal edit and trash icons.</li>
      <p>
        <%= image_tag("edit_instructor.png", {:border => 1, :width => "80%", 
          :height => "70%", :title=>"edit instructor, assistant or grader"})%>
      <li>Click pencil to edit educator properties, or trash icon to delete.</li>
    </ol>
    </ol>


