<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>To create an assignment:</p>

<ul>
  <li>Click <strong>Add new assignment</strong>, complete the form, and click <strong>Create Assignment</strong>.</li>
  <li><em><strong>Double click</strong></em> the assignment you just created.</li>
  <li>Click <strong>Add</strong> to select the Topic(s) the assignment will cover.</li>
  <li>For tests only: select number of test exercises you wan to add.</li> 
  <li>When your assignment plan is complete, check <strong>This is ready to be assigned</strong> in the Edit dialog box.</li>
</ul>

<p>On the start date/time you specify, OST will build the assignment in accordance with the learning conditions set for your class.</p>


