<p>Create an assignment by adding the topic(s) you want the assignment to cover. OST will build your assignment using the listed topic(s) and any Learning Conditions set for your class. Learn more about creating assignments, and how OST builds assignments, here.</p> 
<p>
<strong>To create a new assignment:</strong>
<ol>
  <li>Click Add new assignment;</li> 
  <li>Complete the form and click Create Assignment plan;</li>
  <li>Double click the assignment box;</li> 
  <li>Click Add... and select the topic(s) the assignment covers.</li>
</ol>  
<p>On the start date/time you sent, OST will send the assignment out, b<em>ut only if "This is ready to be assigned" is checked.</em>