<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>There are three (3) different ways to attach labels to exercises.</p>
<ol>
  <li>You can set up the Schedule condition to automatically assign labels to <em><strong>non-test</strong></em> exercises:</li>
<p>
  <%= image_tag("feedback2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
  <li>You can assign labels to <strong>all</strong> tests and/or <strong>all</strong> non-tests on the Edit Class page:</li>
  <p>
  <%= image_tag("feedback3.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
<li>You can assign a label only to a <em><strong>specific</strong></em> assignment in the Edit Assignment dialog box:</li>
<p>
  <%= image_tag("feedback4.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
</ol>