<p>There are three (3) ways to attach labels to exercises:</p>
<ol>
  <li>You can assign labels to <em><strong>non-test</strong></em> exercises in the Schedule condition:</li>
<p>
  <%= image_tag("feedback2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
  <li>You can assign <em><strong>global</strong></em> labels to tests and non-tests on the Edit Class page:</li>
  <p>
  <%= image_tag("feedback3.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
<li>You can assign a <em><strong>one-time</strong></em> label to a specific assignment in the Edit Assignment dialog box:</li>
<p>
  <%= image_tag("feedback4.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
</ol>