<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>There are three (3) ways to attach labels to exercises.</p>
<ol>
  <li>Set up the Scheduler to automatically assign labels to <em><strong>non-test</strong></em> exercises:</li>
<p>
  <%= image_tag("feedback2.png", {:border => 1, :width => "90%", :title=>"assign labels"})%>
<p>
  <li>Assign labels to <strong>all</strong> tests and/or <strong>all</strong> non-tests using Global Labels (on the <strong>Learning Plan</strong>):</li>
  <p>
  <%= image_tag("feedback3.png", {:border => 1, :width => "90%", :title=>"assign labels"})%>
<p>
<li>Assign labels to a <em><strong>specific</strong></em> assignment in the <strong>Edit Assignment</strong> dialog box:</li>
<p>
  <%= image_tag("feedback4.png", {:border => 1, :width => "90%", :title=>"assign labels"})%>
</ol>