<p>There are three (3) ways to attach labels to exercises:</p>
<ol>
  <li>You can assign labels to exercises using the Scheduler:</li>
<p>
  <%= image_tag("feedback2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
  <li>You can assign global labels to tests and non-tests on the Edit Class page:</li>
  <p>
  <%= image_tag("feedback3.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
<p>
<li>You can assign labels to a specific assignment in the Edit Assignment dialog box:</li>
<p>
  <%= image_tag("feedback4.png", {:border => 1, :width => "60%", :height => "60%", :title=>"assign labels"})%>
</ol>