<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>Check this box to automatically show students the feedback page when all other conditions (i.e. timing) are met.</p>
<p>Leave this box unchecked to require students to manually click on the feedback page link.</p>
