<p>Check this box to automatically show students the feedback page when all other conditions (i.e. timing) are met.</p>
<p>Leave this box unchecked to require students to manually click on the feedback page link.</p>
