<p>Check this box to allow OST to automatically show students the feedback page when all conditions, i.e. exercise is completed and timing criteria, are met.</p>
<p>Leave this box unchecked to require students to manually navigate to the feedback page, instead of being shown feedback automatically.</p>
