<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


        <p>OpenStax Tutor is a web-based application. Please take a minute to 
        	make sure your browser is ready to go.</p>

        <p><b>Compatible browsers</b></p>	

        <p>To ensure you have a great experience using OpenStax Tutor, we recommend the current version of 
        	<%= link_to "Chrome", "https://www.google.com/intl/en/chrome/browser/" %> or   
        <%= link_to "Firefox", "http://www.mozilla.org/en-US/firefox/new/Firefox" %> 
         or <%= link_to "Safari", "http://www.apple.com/safari/" %>.</p>

        <p>If you happen to be a die-hard user of Internet Explorer and you encounter unexpected behavior while using 
        	OpenStax Tutor, please try a different browser to see if things improve.</p>

         <p><b>Browser settings</b></p>		
         
        <p>JavaScript and pop-ups must be enabled in your browser to ensure all elements work as expected. </p>