<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
    <p>For each assignment, <%= SITE_NAME %> calculates a grade percentage based on total points possible
       and the amount of points earned.</p> 
      
    <p>Each exercise is worth 1 point. Students receive full credit for an exercise 
      if and only if <strong><em>all</em></strong> of the following criteria are met:</p>
    <ul>
      <li>Correct multiple choice answer.</li>
      <li>Submitted on time.</li>
      <li>Viewed feedback, if viewing feedback is required for credit.</li>  
    </ul>
