<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
    <p><%= SITE_NAME %> calculates a grade percentage based on total points possible
       and the amount of points earned. However, <em>final grades are always determined 
       by your instructor</em>.</p> 
      
    <p>Each exercise is worth 1 point. You will receive full credit for an exercise 
      if all of the following criteria are met:</p>
    <ul>
      <li>Correct multiple choice answer.</li>
      <li>Submitted on time.</li>
      <li>Viewed feedback, if your instructor requires feedback viewing.</li>  
    </ul>
    
    <p>At this time, free-form work is <em>not</em> graded. However, your instructor 
      or grader can view free-form work and take that into account.</p> 