<p>To change a student's section:</p>
<ol>
  <li>From the Class Information page, navigate to the class roster by clicking on the "# registered" link;</li>
 <%= image_tag("roster.png", {:border => 1, :width => "50%", :height => "50%", :title=>"create new topic"})%>
  <li>Click on the name of the student you want to move to a new section;</li>
  <li>On the student status page, click Edit;</li>
  <li>Use the drop down menu to set the student's new section and click Change section.</li>
</ol>
<p>
  