<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>To change a student's section:</p>
<ol>
  <li>Go to <strong>Dashboard > Your Class > Class Information</strong>. Click any link in the Enrollment section.</li>
  <p>
 <%= image_tag("enrollment.png", {:border => 1, :width => "90%", :height => "90%", :title=>"change section"})%>
  <p>
  <li>In the roster, click <strong>student name</strong>.</li>
  <p>
  <li>On the student status page, click <strong>Edit</strong>.</li>
  <p>
  <li>Use the drop down menu to select the student's new section and click <strong>Change Section</strong>.</li>
     <%= image_tag("change_section.png", {:border => 1, :width => "90%", :height => "90%", :title=>"change section"})%>

</ol>
<p>
  