<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>To change a student's section:</p>
<ol>
  <li>Go to <strong>Dashboard > Your Class > Class Information</strong>. In the Enrollment section, click on <strong># registered</strong> link.</li>
  <p>
 <%= image_tag("roster.png", {:border => 1, :width => "100%", :height => "100%", :title=>"create new topic"})%>
  <p>
  <li>In the roster, click <strong>student name</strong>.</li>
  <p>
  <li>On the student status page, click <strong>Edit</strong>.</li>
  <p>
  <li>Use the drop down menu to select the student's new section.</li>
  <p>
  <li>Click <strong>Change section</strong>.</li>
</ol>
<p>
  