<p>To change a student's section:</p>
<ol>
  <li>Go to <strong>Dashboard > your class > Class Information</strong>. In the Enrollment section, click on <strong># registered</strong> link.</li>
 <%= image_tag("roster.png", {:border => 1, :width => "50%", :height => "50%", :title=>"create new topic"})%>
  <li>Click on the student's name.</li>
  <li>On the student status page, click <strong>Edit</strong>.</li>
  <li>Use the drop down menu to set the student's new section and click <strong>Change section</strong>.</li>
</ol>
<p>
  