<p> If you haven't already done so, navigate to the Dashboard, click on your class and customize your class settings.</p>
<ul> 
    <li>From the class information page, click on Edit Class and verify the settings here are correct. In particular, ensure that the time zone is correct as it is used to track assignment due dates. </li>
    <p>
    <li>Back on the class information page, give instructor/assistant/grading permissions by clicking on the relevant link. The person you wish to add as a co-instructor, assistant or grader must register for <%= SITE_NAME %> before you can add him/her.</li>
    <p>
    <li>If your class has multiple sections, i.e. MW and TTh, navigate to the Sections page and add sections by clicking on New Section. Rename or delete a section by hovering your mouse over the section name, until the orange edit/trash icons appear. Select the relevant icon to make changes.</li>
</ul>