<p> If you haven't already done so, navigate to the <strong>Dashboard</strong>, click on your class and customize your class settings.</p>
<ul> 
    <li>From the Class Information page, click on <strong>Edit Class</strong> and verify the settings here are correct: time zone, start/end date, labels, approved emails, etc. </li>
    <p>
    <li>On the Class Information page, give permissions to any co-instructors, teaching assistants or graders.</li>
    <p>
    <li>If your class has multiple sections, navigate to the Sections page and add sections by clicking on New Section. Rename or delete a section by hovering your mouse over the section name until the orange edit/trash icons appear.</li>
</ul>