<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>The date/time you want all assignments, feedback and 
	grades to become inaccessible to students. Must be 
    after the End Date.</p>
