<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>On the <strong>Close Date</strong>, all homework, tests, solutions and grades will become inaccessible to  students.</p>
