<p>A cohort is a group of students who all receive the same assignments. Every class in <%= SITE_NAME %> contains 1 cohort by default.</p>

<p>The ability to create multiple cohorts in one class is primarily intended for research experiments. In most cases, you will not need to create multiple cohorts; if you partner with researchers, they will set up cohorts for your class.</p> 
