<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>A cohort is a group of students who all receive the same assignments and learning conditions. Every class in <%= SITE_NAME %> contains 1 cohort by default.</p>

<p>The ability to create multiple cohorts in one class is primarily intended for research experiments. Create multiple cohorts for a class if you wish to assign different assignments, with different learning conditions, to different sets of students.</p> 
