<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>A cohort is a student group that receives the same assignment schedule and feedback.
  By default, each class is assigned <em>one (1) cohort</em>.</p>
  
<p><em><strong>Adding additional cohorts is optional and primarily intended for learning experiments. 
   </strong></em></p> 
  
<p>Learn more about creating additional cohorts.</p>