<p>A cohort is a group of students who all receive the same learning conditions.</p>

<p>The ability to create multiple cohorts in one class is primarily intended for research experiments. If you partner with the research team, they will set up the cohorts for your class.</p> 
