To receive full credit for an exercise, you must: 
<ul>
  <li>Complete the exercise (including free-form and multiple choice portion).</li>
  <li>Complete the exercise before the due date.</li>
  <li>If your instructor has made viewing feedback mandatory, view feedback.</li>
</ul>