<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Click on the assignment link to view the 
<%= link_to_help 'example_assignment', text="main assignment page", 
{:height => "800", :width => "700", :title => "Example Assignment Main Page"} %>, 
which lists assignment rules, relevant resources and exercises.</p>

<p>For each exercise in an assignment, do the following: </p>
<ol>
  <li>Save and lock free form answer and confidence rating.</li>
  <li>Save and lock multiple choice answer.</li>
  <li>View feedback when it becomes available. If your instructor set feedback as mandatory, 
    failure to view feedback will detract from your grade.</li>
</ol>


    
