<p>When your students work an exercise in OST, they will do the following:</p>

<p>First, students see the question stem only. OST prompts them to enter a 
  <strong>free-form response</strong> and <strong>confidence assessment</strong>.</p>
  
  <%#<%= image_tag("qstem.png")%>
  
<p>Next, after locking in free-form work, students are shown <strong>multiple choice answers</strong>.</p>

       <%#<%= image_tag("mc.png")%>

<p>Finally, after saving multiple choice, students view <strong>feedback</strong>. Instructors control when 
  feedback becomes available, unless participating in a learning experiment.</p>

<%#<%= image_tag("qstem.png", {:border => 1, :width => "100%", 
   :height => "100%", :title=>"add exercise"})%>