<p>Attach concept tags to exercises to mark which exercises reinforce which concepts.</p> 

<em><strong>Step 1: Create concept tag</strong>.</em>
<p>
  <ol>
    <p>
    <li>Go to <strong>Dashboard > Your Class > Learning Plan</strong> and click on <strong>Concepts</strong> in the righthand menu).</li>
    <p>
    <p>
     <%= image_tag("concepts_page2.png", {:border => 1, :width => "500px", :title=>"concepts"})%>
    <p>
    <li>On the Concepts page, click <strong>New Concept</strong>.</li>
    <p>
    <li>Enter concept name and click <strong>Create Concept</strong>.</li>
  </ol>
  <p></p>
<em><strong>Step 2: Attach concept tag to an exercise</strong>.</em>
  <ol>
    <p>
    <li>Return to the <strong>Topics section</strong>.</li>
    <p>
    <li>Open an exercise that needs a concept tag:</li>
      <ul>
        <p>
        <li>Either <strong>Add</strong> a new exercise; OR </li>
        <p>
        <li><strong>Edit</strong> an existing exercise.</li>
      </ul>
    <p>
    <li>In the Exercise dialog box, select the relevant <strong>concept tag</strong> from the dropdown menu.</li>
       <p>
        <%= image_tag("concept3.png", {:border => 1, :width => "500px", :title=>"concept"})%>
    <p>
    <li>Click <strong>Update Topic Exercise</strong>. Your exercise is now tagged.</li>
        <%= image_tag("concept4.png", {:border => 1, :width => "500px", :title=>"concept"})%>
</ol>
