<p><strong>Concept tags</strong> enable you to easily track and view all exercises linked to a concept. Using concept tags involves two steps:</p>
<p><em>Step 1: Create concept tag.</em></p>
<ol>
  <li>From the Learning Plan, navigate to the Concepts page;</li>
  <li>Click New Concept, enter concept name and click Create Concept.</li>
</ol>
<p><em>Step 2: Attach concept tag to exercise.</em></p>
<ol>
  <li>Return to the Topics section of the Learning Plan;</li>
  <li>Create a new exercise or open an existing exercise;</li>
  <li>Select the concept tag from the dropdown Concept menu and click Save.</li>
</ol>
<p>You can view all exercises linked to a concept by navigating to the Concepts page and clicking the concept name.</p>

<%= link_to "Learn more.", help_topics_path(:anchor => "concept_tags") %>