<p><strong>Concept tags</strong> enable you to easily track and view all exercises linked to a concept.</p>

To create a new concept and add a concept tag to an exercise:<br/> 
<ol>
  <li>Navigate to the Concepts page;</li>
  <li>Click New Concept to create and save a concept;</li>
  <li>Go back to the Topics section and create a new exercise, or open an existing exercise; </li;>
  <li>Use the dropdown menu to select the concept and click Update Topic Exercise to save.</li>
</ol>
Add link to Concepts help section with pictures (in Topics)