<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Confidence ratings provide valuable insight into how well you understand the material. Please try to accurately rate your confidence because OST can use these ratings to help you reach your learning goals. And don't worry: your instructor will never see your confidence ratings and they are not used for grading. 
</p>   