<p>Creating a list of concepts will enable you to add a <em>concept tag</em> to each exercise.</p>

<p>Using concept tags is a handy way to categorize your exercises and easily access them later.</p>

Learn more.