<p>Attach concept tags to exercises to track how students have mastered different concepts.</p>

<em>Step 1: Create concept tag.</em>
  <ol>
    <li>On this page, click <strong>New Concept</strong> in the righthand menu.</li>
    <li>Enter concept name and click <strong>Create Concept</strong>.</li>
  </ol>
<em>Step 2: Attach concept tag to an exercise.</em>
  <ol>
    <li>Return to the <strong>Topics section</strong>.</li>
    <li><strong>Add</strong> a new exercise; OR </li>
    <li><strong>Edit</strong> an existing exercise, by holding your mouse over the exercise and clicking the <strong>edit</strong> (pencil) icon.</li>
    <li>In the Edit an Exercise box, select the concept tag from the dropdown menu.</li>
        <%= image_tag("concept3.png", {:border => 1, :width => "80%", :height => "80%", :title=>"concept"})%>
    <li>Click <strong>Update Topic Exercise</strong>. Your exercise is now tagged.</li>
        <%= image_tag("concept4.png", {:border => 1, :width => "80%", :height => "80%", :title=>"concept"})%>
</ol>
