<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Attach concept tags to exercises to mark which exercises reinforce which concepts.</p> 

<em><strong>Step 1: Create concept tag</strong>.</em>
<p>
  <ol>
    <p>
      <ol>
        <li>On this page, click <strong>New Concept</strong>.</li>
        <p>
        <li>Enter concept name and click <strong>Create Concept</strong>.</li>
      </ol>
      </ol>
      <p></p>
<em><strong>Step 2: Attach concept tag to an exercise</strong>.</em>
  <ol>
    <ol>
      <p>
      <li>Return to the <strong>Topics section</strong>.</li>
      <p>
      <li>Double click topic containing exercises to be tagged.</li>
      <p>
      <li>Open exercise to be tagged: either add new exercise, or edit existing exercise.</li>
      <p>
      <li>In the Exercise dialog box, select <strong>concept tag</strong> from the dropdown menu.</li>
      <p>
      <li>Click <strong>Update Topic Exercise</strong>. Your exercise is now tagged.</li>
          <%= image_tag("concept4.png", {:border => 1, :width => "500px", :title=>"concept"})%>
    </ol>
</ol>