<p>Attach concept tags to exercises to mark which exercises reinforce which concepts. Eventually, <%= SITE_NAME %> learner analytics will show how well your students have mastered different concepts.</p> 

<p>To create concept tags: from <strong>Learning Plan</strong>, click <strong>Concepts</strong> in the righthand navigation menu.</p>