<p>A concept tag is a way to mark exercises testing a particular concept. By using concept tags, you can easily find and view all exercises linked to a concept.</p>

To add a concept tag to an exercise: 
<ol>
  <li>Create the concept tag in the Concepts section of the Learning Plan;
  <li>Tag exercises in the Topics section of the Learning Plan.
</ol>

Learn More.