<p>Attach concept tags to exercises to mark which exercises reinforce which concepts. Eventually, <%= SITE_NAME %> learner analytics will show how well your students have mastered different concepts.</p> 


<%#  <%= link_to "Concepts", learning_plan_concepts_path(@concept.learning_plan) %>
  