<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>In some cases, you may be given the opportunity to participate in an optional learning 
   study on <%= SITE_NAME %>. This video will explain the consent process.</p> 

      <%= youtube_video({:height => 360, :width => 640, :code => 'n8HROv8ZWoQ'}) %>

      <ul>
      	<li><b>0:20</b>: What is OpenStax Tutor?</li>
      	<li><b>0:39</b>: Why are we running learning studies?</li>
      	<li><b>0:47</b>: Why participate in a study?</li>
      	<li><b>1:07</b>: Some things you should know about the study</li>
      	<li><b>1:40</b>: The consent process</li>
      	<li><b>2:10</b>: Updating your consent</li>
      	<li><b>2:29</b>: Who to contact with questions</li>
      </ul>

