<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Need help creating assignments? 
   <%= link_to "Check out our detailed help tutorials.", help_assignments_path %>
</p>