<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>The Scheduler is a rule that automates how your 
	<u>homework assignments</u> are 
  built. Before releasing any assignments, you 
  <u>must</u> have a Scheduler in place.</p>

<p><p>We create a <i>default Scheduler</i> for each class. 
	  You can easily customize it if you like, but 
	  first it's helpful to know how the default Scheduler works. </p>

<p><b>How the default Scheduler works</p></b>

<p>Here is the default Scheduler:</p>
 
 <p><%= image_tag("default_scheduler1.png", {:border => 1, :width => "95%", 
       :title=>"schedule"})%></p>
 
 <p>The default Scheduler builds homework 
 	by pulling <b>100%</b> of the exercises 
    in the topic(s) you add to each homework assignment,
    then applies the label <b><i>standard practice</i></b> to 
    each assigned exercise. <u>Exception</u>: the Scheduler 
    will not add exercises reserved for tests or previously 
	assigned exercises.</p>
