<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
   
<p><strong><em>Default schedule condition</em></strong>:</p>   
   
    <p><%= image_tag("default_schedule.png", {:border => 1, :width => "100%", :title=>"schedule"})%></p>

      <ol>
        <li>Class has <em>one cohort</em>: All students will receive the same assignment schedule and feedback.</li>
        <p>
        <li>Class has one <em>schedule</em>: Each homework assignment is built using the same percentage rule.</li>
        <p>
        <li><em>Percentage rule</em>: OST will pull <em>100%</em> of <strong>non-test</strong> exercises from each 
          topic added to an assignment.</li>
        <p>
        <li><em>Labels</em>: OST attaches the label <em>standard practice</em> to each <strong>non-test</strong> 
        exercise.</li>
      </ol>
  
<p><em><strong>Default feedback condition</strong></em>:</p>   
   <%= image_tag("default_feedback.png", {:border => 1, :width => "100%", :title=>"default feedback"})%>
    <ol>
      <li>This feedback condition is activated for exercises labeled <em>standard practice</em>.</li>
      <p>
      <li>Students are not required to view feedback to receive credit.</li>
      <p>
      <li>Students must manually click the feedback link to view feedback.</li>
      <p>
      <li>Feedback becomes available immediately after student completes exercise; 
         stays available throughout the class.</li>
      <p>
    </ol>
  
