<p><%= SITE_NAME %> automatically sets the following default learning conditions for your class:</p>

<p>Default Schedule conditions:</p>  
  <ul>
    <li>All students receive the same assignments, regardless of section.</li>
    <li>If you add a topic to a <em>non-test</em> assignment, the assignment will contain <em>all</em> exercises in that topic, except those marked as a test.</li>
    <li>OST attaches the label <em>standard practice</em> to each non-test exercise.</li>
    <li>OST does not attach any labels to test exercises.</li>
  </ul>
<p>Default feedback conditions:</p>   
  <ul>  
    <li>Students receive feedback on all <em>non-test</em> exercises they complete.</li>
    <li>Viewing feedback is optional.</li>
    <li>OST shows student feedback page automatically, i.e. student is not required to manually click on Feedback link.</li>
    <li>OST shows feedback immediately after exercise is completed.</li>
    <li>Feedback never becomes unavailable.</li>
    <li>Students never receive feedback on tests.</li>
  </ul>
