<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
   
<p><strong><em>Default schedule condition</em></strong>:</p>   
   
    <p><%= image_tag("default_schedule.png", {:border => 1, :width => "80%", :title=>"schedule"})%></p>

      <ol>
        <li>One <em>cohort</em>: all students receive the same assignment schedule.</li>
        <li>One <em>schedule</em>: the same percentage rule is applied to each <strong>non-test</strong>
         assignment.</li>
        <li><em>Percentage rule</em>: every assignment includes <em>100%</em> of <strong>non-test</strong> exercises 
        from listed topic(s).</li>
        <li><em>Labels</em>: OST attaches the label <em>standard practice</em> to each <strong>non-test</strong> 
        exercise.</li>
      </ol>
  
<p><em><strong>Default feedback condition</strong></em>:</p>   
   <%= image_tag("default_feedback.png", {:border => 1, :width => "80%", :title=>"default feedback"})%>
    <ol>
      <li>This feedback condition matches against exercises labeled <em>standard practice</em>.</li>
      <li>Students are not required to view feedback to receive credit.</li>
      <li>OST requires students to manually click the feedback link to view feedback.</li>
      <li>Feedback becomes available immediately after student completes exercise.</li>
    </ol>
  
