<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Use this graphics editor to sketch your answers. Check out the <%= link_to "SVG-Edit", 
"http://code.google.com/p/svg-edit", :target => :blank %> for help screencasts and more.</p>

