<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>When your instructor releases an assignment, you should receive an automatic email notification from <%= SITE_NAME%>. On rare occasions, you may find that our emails are not being delivered to you. Here are some common reasons you may not be receiving emails properly:</p>
  <ul>
    <li><b>Emails may be trapped by your spam or junk filter</b>. To avoid this, please make sure that emails from <i>@openstaxtutor.org</i> are not being marked as spam.</li>
    </li>
    <p>
    <li><b>Your server or ISP may be blocking emails.</b> If you think this is the case, you may want to change the email address we use to send you emails.</li> 
   </ul>
   <p>
    