<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p>The last day of class or the last day of the final assignment. 
Must be after the Start Date.</p>
