<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p><strong>End Date & Time</strong> is the later of (i) the last day of class or (ii) the due date and time of the final assignment. </p>
