<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p><strong>End Date</strong> is the later of (i) the last day of class or (ii) the due date of the final assignment. </p>

<p>For example: The last day of class is 12/30, but the final assignment is due 1/1 at 5pm, so the End Date is 1/1 at 5pm. </p>