<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>There is a wealth of support for integrating feedback into learning experiences: it can keep students engaged, 
  enable them to correct errors, and help ensure they retain correct knowledge. </p>

<p>You can control when feedback becomes available and unavailable and what type of feedback students receive. 
Based on data we've collected, students are significantly less likely to view feedback if it is not associated with credit,  
so there is also a setting that requires students to view feedback to receive credit for the exercise.</p>

   <%= image_tag("feedback1.png",  {:border => 1, :width => "78%", 
                  :title=>"Feedback"})%></p>
