<p><%= SITE_NAME %> is set up to show <em><strong>feedback</strong></em> to students.</p>
<p>The feedback page tells the student if his/her answer is correct and shows any available solutions.</p>
   <%= image_tag("feedback1.png", {:border => 1, :title=>"feedback"})%>