<%# Copyright 2011-2014 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# TODO: @Kim %>

<p>
  This field allows you to configure the credit penalty in percentage.  For example, if
  you set a value of 25%, then students lose 25% of their credit if they fail to view
  their feedback on time.
</p>
