<p>Feedback Conditions control how and when <%= SITE_NAME %> presents feedback to students.</p>

<p>Use this feature to create any number of feedback conditions and control when OST activates each condition. For example, you could apply one feedback condition to homework and another to tests.</p>

<p>To get started, edit the existing condition or add a new feedback condition.</p>

<p>Learn more.</p>