<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Optional: labels you add here will be attached to to all tests and/or to all non-tests.</p>

<p>Attach labels to activate learning conditions or simply to track for data analysis purposes.</p>