<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>You can download two types of grades reports:</p>
<ol>     
    <li>To download a report showing each student's overall grades on every assignment, go to           <strong>Dashboard</strong> > <strong>Class</strong> and click <strong>Class Grades</strong>.</li>
    <p>
    <%= image_tag("class_grades.png", {:border => 1, :width => "100%", 
      :height => "100%", :title=>"class grades"})%>
    <p> 
    <li>To download a report showing how student scored on each question in a
       particular assignment, go to <strong>Dashboard > Class</strong> and click any assignment. </li>
    <p>
    <%= image_tag("assignment_grades1.png", {:border => 1, :width => "100%", 
      :height => "100%", :title=>"assignment grades"})%>
    <p>  
    Next, click <strong>Grades</strong> in the righthand menu.</p>
    <p>
    <%= image_tag("assignment_grades2.png", {:border => 1, :width => "100%", 
      :height => "100%", :title=>"assignment_grades2.png"})%>
<p>
<p>To adjust the relative weights of each problem in the assignment, change the value in the Points row. 
  Students' overall scores are automatically adjusted when you change this value.</p>
</ol>