<p><em>To receive full credit for an exercise</em>:</p>
<ul>
  <li>Answer the exercise correctly.</li>
  <li>Complete the exercise before the due date.</li>
  <li>If your instructor has made viewing feedback mandatory, view feedback.</li>
</ul>

<p>To access your grades, go to <strong>Dashboard > Class > Assignments</strong>.</p>

    <%= image_tag("grades1.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
