<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>To view your scores on assignments, go to <strong>Dashboard > Class > Assignments</strong>.</p>
  
  <%= image_tag("grades1.png")%></p>


