<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

      <p>This tutorial will show you how to create a homework assignment. This tutorial 
      	is for instructors who are <em>not</em> participating in a Duke learning study.</p> 

      <%= youtube_video({:height => 360, :width => 640, :code => '6JoOjN8J3us'}) %>

