<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

 <p>This tutorial will show you how to create a test, quiz, or exam. This tutorial is 
      	intended for instructors who are <em>not</em> participating in a Duke learning study.</p> 

      <%= youtube_video({:height => 360, :width => 640, :code => 'mgmm-7h26hk'}) %>

     