<%= section "Create an OpenStax Tutor account " do %> 

<ol>
  <li>Go to LINK and find the Join Now link, or go directly to SIGN UP LINK.</li> 
  
  <li>Complete the form.
  
  <li>Read and agree to the site license, complete the Captcha and click <strong>Sign Up</strong>.</li>
        
  <li><%= SITE_NAME %> will send a confirmation email to the email you entered. Follow the instructions to confirm your account.</li>
</ol>

<% end %>

<p><strong>Tips when creating an account</strong> -- might be good to add this info to the Join Now page, actually</p>

<ul>
  <li><em>Use your real first and last name</em>. Your name will not be publicly available, but your instructor may see your name for grading purposes. Once you register, you  <strong>cannot</strong> edit your first and last name.</li>
  <li><em>Register an email address that you actively use and access</em>. OST uses the email you enter to confirm your new account and to send you important notifications.</li></li>
  <li><em>Enter the correct time zone.</em> OST uses your time zone to show assignment due dates and times.</li>
</ul>
