<%= section "Create an OST account " do %> 

<ol>
  <li>Go to LINK and find the Join Now link, or go directly to SIGN UP LINK.</li> 
  
  <li>Complete the form.
  
  <li>Read and agree to the site license, complete the Captcha and click <strong>Sign Up</strong>.</li>
        
  <li><%= SITE_NAME %> will send a confirmation email to the email you entered. Follow the instructions to confirm your account.</li>
</ol>

<% end %>

<p><strong>Tips when creating an account</strong> -- can we add this to the Join Now page?</p>

<ul>
  <li><strong>Use your real first and last name</strong>. Your name will not be publicly available, but your instructor may require it for grading purposes. Once you register, you <em>cannot</em> edit your first and last name.</li>
  <li><strong>Register an email address that you actively use and access</strong>. OST uses the email you enter to confirm your new account and to send you important notifications.</li></li>
  <li><strong>Enter the correct time zone.</strong> OST uses your time zone to show you assignment due dates and times.</li>
</ul>
