<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>The label you enter here must match the label of the exercise(s) you want to receive this feedback condition.</p>

<p><%= SITE_NAME %> will activate a feedback condition for an exercise <em>if and only if</em> the following conditions are met:</p> 
<ul>
<li>Student has completed the exercise.</li>
<li>Exercise has a <em><strong>label</strong></em> attached.</li>
<li>There is one (1) feedback condition <em><strong>matching that same label</strong></em>.</li>
</ul>
