<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>In this field, enter a unique label describing this feedback condition, e.g., <em>delayed feedback</em>.</p>

<p>Next, attach this label to all exercises you want to receive this feedback condition.</p>

<p>As students complete each exercise, <%= SITE_NAME %> will search for matching exercise and feedback labels and will activate the first matching feedback condition found.</p>
  
<p><%= link_to_help 'attach_feedback_label_to_exercises', text="Learn more about attaching labels to exercises and assignments.", {:title => 'Activate feedback by attaching labels', :width => '600', :height => '600'} %></p>
