<p>To make a wrong answer correct: </p>

<ul>
  <li>Go to <strong>Dashboard > Class > Class Information.</strong></li>
  <li>Scroll down to the list of assignments and click on the assignment in question.</li>
  <li>Click on the student's name.</li>
  <li>Under the exercise number, click on the student's score.</li>
  <li>Click <strong>Make correct</strong>.</li>
</ul>