<p>To make a wrong answer correct: </p>

<ul>
  <li>Go to <strong>Dashboard > Class > Class Information.</strong></li>
  <p>
  <li>Scroll down to Assignments and click on the <strong>assignment</strong> containing the student's work.</li>
  <p>
  <li>Click on the <strong>student's name</strong>.</li>
  <p>
  <li>Under the exercise number, click the <strong>student's score</strong> to be updated (must be 0).</li>
     <p>
          <%= image_tag("makecorrect.png", {:border => 1, :width => "100%", :height => "100%", :title=>"make correct"})%>
     <p>      
  <li>Click <strong>Make correct</strong>.</li>
  <p>
          <%= image_tag("makecorrect2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"make correct"})%>
</ul>