<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

    <p>Follow the below steps to give back points for submitting the wrong multiple choice answer.
      <strong>Note</strong>: at this time, there is not a way to give back points lost for lateness or failure to 
      view mandatory feedback, but these features are coming soon.</p>
    <ol>
      <li>Go to <strong>Dashboard > Class > Class Information.</strong></li>
      <p>
      <li>Scroll down to Assignments and click on the <strong>assignment
        </strong> containing
         the student's work.</li>
      <p>
      <li>Click on the <strong>student's name</strong>.</li>
      <p>
      <li>Under the exercise number, click the <strong>student's score
        </strong> to be updated.</li>
         <p>
              <%= image_tag("makecorrect.png", {:border => 1, :width => "100%", :height => "100%", 
                :title=>"make correct"})%>
         <p>      
      <li><em>If Correctness Credit is 0.0</em>, click <strong>Make correct</strong> to override
        correctness credit. Note: if student submitted the exercise late or didn't view required feedback, 
        overall score will still be 0.</li>
      <p>
              <%= image_tag("makecorrect2.png", {:border => 1, :width => "60%", :height => "60%", 
                :title=>"make correct"})%>
    </ol>
