<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<p><strong>Open Date & Time</strong> is when the class page becomes accessible in OST.</p>

<p>As of the Open Date, students can view the class description and submit registration requests.</p>