<p>Decide what topics you want to teach, and what associated course materials reinforce each topic. Ultimately, you will assign a topic, or several topics, as homework. Click here to see an example of a completed Topics section. (((Show example_topics blurb)))</p>

<p>Some questions to consider as you plan your topics:</p> 
<ul>
    <li>What are the overarching topics taught in this course? Which course materials reinforce these topics? Group related course materials together.</li>
    <p>
    <li>Is there a logical order or sequence to your topics? Do students need to learn certain concepts before they can understand others?</li>
    <p>
   </ul>
   <p>