<p>To organize your content into topics, consider the following questions: </p>

<ul>
    <li>What are the overarching topics taught in this course? What homework/test exercises reinforce each topic?</li>
    <p>
    <li>Is there a logical sequence to your topics?</li>
    <p>
    <li>Look at the set of homework you have assigned in the past. Might each homework represent a topic, or multiple topics?</li>
   </ul>

<p>Next, group related exercises and resources together. These groups represent the topics you will add to your Learning Plan. Ultimately, you will assign a topic, or multiple topics, as homework.</p> 