
<p>Group related exercises and resources together, so that each group contains resources and exercises related to a particular <em>topic</em> taught in your class. In <%= SITE_NAME %>, those "groups" are simply called <em>topics</em>.</p>

<p> As you plan, consider the following:</p>

  <ul>
    <li>Is there a logical way to group resources and exercises together? </li>
    <p>
    <li>What are the overarching topics and concepts taught in this course? Which of your course materials reinforce these topics and concepts?</li>
    <p>
    <li> Is there an order or sequence to your topics?</li>
      </ul>
    <p>