<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>To organize your content into topics, consider the following: </p>

<ul>
    <li>A topic is a group of related exercises and resources. Ultimately, you will assign a topic, or multiple topics, as homework.</li>
    <p>
    <li>What are the overarching topics taught in this course? What homework/test exercises reinforce each topic? Is there a logical sequence to your topics?</li>
    <p>
    <li>A good place to start may be with your assignments, if you have already planned them. In many classes, a homework assignment includes  questions from 1 or 2 topics. A final exam includes questions from most, if not all, topics taught in the class.</li>
    <p>
    <li>Group all content related to an overarching topic together: for example, a topic called Signal Basics would include all <strong>resources</strong>, <strong>homework problems</strong> <em>and</em> <strong>test problems</strong> related to Signal Basics. </li>
    <p>
</ul>
