<p>Group related exercises and resources together. Each group should contain resources and exercises related to a particular <em><strong>topic</strong></em> you will cover. These "groups" will become the topics you add to <%= SITE_NAME %>.</p>

<p>Consider:</p>

  <ul>
    <li>Is there a logical way to group resources and exercises together? </li>
    <p>
    <li>What are the overarching topics and concepts taught in this course? Which course materials reinforce these topics and concepts?</li>
    <p>
    <li>Is there an order or sequence to your topics?</li>
      </ul>
   