<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Before adding any content to <%= SITE_NAME %>, take some 
  time to plan how you will organize your materials into topics.</p> 

<p>To organize your content into topics, consider the following: </p>

<ul>
    <li>What are the overarching topics taught in your course? 
        What homework/test exercises reinforce each topic? What is the
        logical sequence of your topics? </li>
    <p>
    <li>In OST, a topic is both a group of related course materials, and 
        a building block of an assignments.</li> 
    <p>    
      <li>Group all course materials related to an overarching topic together.
          For example:  
          <%= image_tag("example_topic.png", {:border => 1, :width => "95%", 
                          :title=>"topic"})%></p></p>
      <p>
    <li><p>A typical class might have <%= link_to_help 'example_topics_section',
       text="10-15 topics", 
       {:title => 'Example Topics Section', :width => '700', :height => '700'} %> 
       but how you organize your topics is up to you.</li> 
        <p>
</ul>
