<p>Start by grouping related exercises and resources together. Each group should contain resources and exercises related to a particular <em><strong>topic</strong></em> you will cover in your class. These "groups" will become the topics you add to <%= SITE_NAME %>. Click here to see an example of a completed Topics section. (((Show example_topics blurb)))</p>

<p>Consider:</p>

  <ul>
    <li>What are the overarching topics taught in this course? Which course materials reinforce these topics?</li>
    <p>
    <li>Is there a logical order or sequence to your topics? Do students need to learn certain concepts before they can understand others?</li>
    <p>
    <li>You will eventually create assignments using these topics. (((Add in line link to assignment1.png))) 
   </ul>
   <p>