<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>You can give two (2) types of assignments in <%= SITE_NAME %>:
   <strong>tests</strong> and <strong>homework</strong>.</p>  
<ul>
  <p><b>For homework</b>: 
  	 <%= image_tag("org_topics1.png", {:border => 1, :width => "90%", 
                  :title=>"homework"})%>
  </p>
  
  <p><b>For tests:</p> 
     <%= image_tag("org_topics2.png", {:border => 1, :width => "90%", 
                  :title=>"tests and exams"})%>
</ul>