<p>Planning assignments involves three main considerations:</p>  
<ul>
<li>What <em><strong>topics</strong></em> will each assignment cover? Will each assignment cover one topic or multiple topics?</li>  
<p>
<li>Will you use the default feedback condition or customize your own feedback conditions? <%= link_to "Click here to learn more", help_learning_conditions_path %>. <em>Note</em>: if you opt to participate in a study, the research team will set these conditions for you.</li> 
<p>
<li>Will you use the default schedule condition or create your own? Click here to learn more. <em>Note</em>: if you opt to participate in a study, the research team will set these conditions for you.</li>
</ul>

    