<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>You can give two (2) types of assignments in <%= SITE_NAME %>: <strong>tests</strong> and <strong>non-tests</strong>.</p>  
<ul>
  <li>For non-tests, i.e. homework, decide what <em><strong>topic(s)</strong></em> to assign as homework.</li>  
  <p>
    <li>For tests, decide which specific exercises you want each test to include. </li> 
</ul>