<p>Planning assignments involves three main considerations:</p>  
<ul>
<li>What <em><strong>topics</strong></em> will each assignment cover? Will each assignment cover one topic or multiple topics?</li>  
<p>
<li>Do you want to control how and when <%= SITE_NAME %> presents feedback to students? If so, consider the options and decide how you will set up feedback conditions.</li> 
<li>Do you want to distribute practice of each topic across multiple assignments? If so, consider the options and decide how you will set up the Percentage Scheduler.
</ul>
<li>

<p>Note that, if you opt to participate in an experimental study, the feedback team will set learning conditions for you. </p>
    