<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>You can give two (2) types of assignments in <%= SITE_NAME %>: <strong>tests</strong> and <strong>homework</strong>.</p>  
<ul>
  <p>For <em>homework</em>, decide what topic(s) each homework assignment covers.</p>
  
  <p>For <em>tests</em>, decide which exercises are reserved for which tests.</p> 
    
</ul>