<p>Planning assignments involves three main considerations:</p>  
<ul>
<li>What <em><strong>topics</strong></em> will each assignment cover? Will each assignment cover one topic or multiple topics?</li>  
<p>
<li>Do you want to control how and when <%= SITE_NAME %> presents feedback to students? <%= link_to "Click here to learn about feedback options", help_learning_conditions_path %> and decide if you will use the default condition or create your own. <em>Note</em>: if you opt to participate in a study, the research team will set these conditions for you.</li> 
<p>
<li>Do you want to distribute practice of each topic across multiple assignments? Click here to learn about schedule conditions and decide if you will use the default condition or create up your own. <em>Note</em>: if you opt to participate in a study, the research team will set these conditions for you.</li>
</ul>

    