
    
<p>Consider the following when planning assignments:</p> 
    <ul>
      <li>What <strong><em>topic(s)</em></strong> will each assignment cover? <%= SITE_NAME %> will build assignments using the topic(s) you list.</li>
      <p>
      <li>What, if any, <em><strong>learning conditions</strong></em> will you set? Any conditions you set will govern how <%= SITE_NAME %> builds assignments, along with the topic(s) you list. </li>
    <p>  
    <li>You can set a variety of learning conditions. For example, use the Scheduler feature to distribute practice of topics across multiple assignments, or the Feedback feature to say when and what kind of feedback students receive on assignments. Check out the Learning Conditions page for more information.</li>
    <p>
    <li>Note that, if you opt to participate in an experimental study, the feedback team will set these conditions for you.</li> 
    </ul>