<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>In this field, enter a unique label describing this presentation condition, e.g., <em>no free form</em>.</p>

<p>Next, attach this label to all exercises you want to receive this presentation condition.</p>

<p><%= SITE_NAME %> will search for matching exercise and feedback labels and will activate the first matching condition found.</p>
  
<p><%= link_to_help 'attach_feedback_label_to_exercises', text="Learn more about attaching 
labels to exercises and assignments.", {:title => 'Activate conditions by attaching labels', :width => '600', :height => '600'} %></p>
