<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

             <ol>
	          <li>Under Assignments, click <b>Preview Assignments</b></li>
	        <p> 
	          <%= image_tag("preview_assignments.png", {:border => 1, :width => "90%", 
	                   :title=>"edit assignment"})%></p>
	        <p>
	        <li>Scroll to the assignment you want to preview.</li>
	        <p>
	        		        <%= image_tag("preview_assignments2.png", {:border => 1, :width => "90%", 
	                   :title=>"edit assignment"})%></p>
	          <p>
	          	
	        	<p>First, verify that your assignment includes all expected exercises 
	        		and that those exercises are 
	        		correct and free of typos.</p>
	        <p>
	               <p>Next, check the attached labels and verify that they match the 
	               	feedback and presentation conditions you want to apply to 
	          each exercise. <i>If no labels are attached, students will not receive 
	          any feedback.</i></li> 
	          <p>	         
	        <li>Once you've previewed the assignment, you are ready to mark the assignment 
	        	as <strong>ready to be assigned.</strong> 
	        	</li>
        </ol>
