<p>OST will automatically approve class registration requests from students or domains you list here.</p>
<p><strong>Method 1</strong>: Enter one email address per line, e.g. </p>
<p>
<pre>michael@college.edu
ali@college.edu</pre>

<p><strong>Method 2</strong>: Enter email domain in below format to approve <em>any</em> user in that domain, e.g.</p>
<p>
@domain.edu$<br/>
@math.college.edu$<br/>

<p>Note that if a student registers using a different email address or domain than that listed here, OST will <em>not</em> automatically approve the request.</p>