<p>OST will automatically approve registration requests from students listed here, <em>as long as student registers for OST with the listed email address or domain.</em></p>
<p><strong>Method 1</strong>: Enter one email address per line. </p>
<p>
michael@college.edu<br/>
ali@college.edu<br/>

<p><strong>Method 2</strong>: Enter email domain in below format to approve <em>any</em> user in that domain.</p>
@domainname.edu$<br/>
@math.college.edu$<br/>
