<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Presentation conditions control the format of an exercise.</p>

<p>By default, OST presents all multiple choice questions in the same format: 
  <ul>
    <li>First, students are shown the question stem and are prompted 
  to enter a free-form response; </li>
  <p>
  <li>Next, after locking in free form work, students are shown a list of 
    possible multiple choice answers and prompted to enter an answer.</li>
 </ul>
 <p>Using presentation conditions, you can turn off the free form component of all or some exercises.</p>