<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p><%= SITE_NAME %> will make your assignment available <em>only if <strong>this is ready to be assigned</strong> is marked</em>.</p>

<p>When you mark an assignment as ready to be assigned, OST will automatically send out your assignment on the selected start date and time.</p>

