<p><%= SITE_NAME %> does not automatically synchronize changes made in Quadbase. Use <strong>Refresh Exercises</strong> to update your exercises to the latest version in Quadbase. </p>

<p>Note the following limitations to Refresh Exercises:</p> 
  <ol>
      <li>Versioned exercises, i.e. those ending in a version number, <em>cannot</em> be updated using Refresh Exercises. Changing a versioned exercise requires creating a new version in Quadbase.</li>
      <p>
      <li>If you refresh exercises that have been assigned, students who have already begun working the exercises will <em>not</em> see the updates.</li>
      <p>
  </ol>