<p>If you add an exercise to your Learning Plan and later edit the exercise in Quadbase, OST will <em>not</em> automatically reflect those changes.</p> 

<p>Click Refresh Exercises to force OST to update changed exercises, with the following limitations:</p> 
  <ol>
      <li>Versioned exercises -- exercises ending in a version number -- <em>cannot</em> be updated using Refresh Exercises,</li>
      <li>If you refresh exercises that have already been assigned to students, and students have already begun working the exercises, those students will not see the updated exercises.</li>
  </ol>