<p>When you add an exercise to the Topics section, <%=SITE_NAME %> saves that version in its cache. If you later make changes to that exercise in Quadbase, <%= SITE_NAME %> will <em>not</em> automatically synchronize those changes.</p>

<p>In some cases, you can use the <strong>Refresh Exercises</strong> feature to update your exercises to the latest version in Quadbase. </p>

<p>Note, however, the following limitations to Refresh Exercises:</p> 
  <ol>
      <li>Versioned exercises, i.e. those ending in a version number, <em>cannot</em> be updated using Refresh Exercises. Changing a versioned exercise requires creating a new version in Quadbase.</li>
      <p>
      <li>If you refresh exercises that have already been assigned, students who have begun the assignment will <em>not</em> see the updates.</li>
      <p>
  </ol>