<p>When you add an exercise to a topic, <%=SITE_NAME %> saves a version in its cache. If you later update that exercise in Quadbase, <%= SITE_NAME %> will <em>not</em> automatically synchronize those changes.</p>

<p>With some limitations, the <strong>Refresh Exercises</strong> feature enables you to update the exercises in OST to the latest version in Quadbase.</p>

<ol>
  <li>Go to <strong>Dashboard > Class > Learning Plan</strong>.</li>
  <li>Click <strong>Refresh Exercises</strong>.</li>
</ol>
<p><strong>Note the following limitations to Refresh Exercises</strong>:</p> 
  <ol>
    <li>Versioned exercises, i.e. those ending in a version number, <em>cannot</em> be updated using Refresh Exercises. To change a versioned exercise, you must create a new question in Quadbase and add that link to Topics.</li>
    <p>
    <li>If you refresh exercises that have already been assigned, students will see the updated exercises in the assignment. However, if a student already entered work using the previous version, they won't have the opportunity to rework the new exercise.</li>
    <p>
  </ol>
  
