<p>The <strong>Refresh Exercises</strong> button updates the exercises in your Learning Plan to the latest version in Quadbase. Unless you click Refresh Exercises, <%= SITE_NAME %> will <em>not</em> automatically synchronize changes made in Quadbase.</p> 

<p>Refresh Exercises has the following limitations:</p> 
  <ol>
      <li>Versioned exercises -- i.e. those exercises ending in a version number -- <em>cannot</em> be updated using Refresh Exercises.</li>
      <li>If you refresh exercises that have been assigned, and students have already begun working the exercises, those students will not see the updated exercises.</li>
  </ol>