<p>When you add an exercise to a topic, <%=SITE_NAME %> saves a version in its cache. If you later update that exercise in Quadbase, <%= SITE_NAME %> will <em>not</em> automatically synchronize those changes.</p>

<p>With some limitations, discussed below, you can use the <strong>Refresh Exercises</strong> feature to update your exercises to the latest version in Quadbase.</p>

<ol>
  <li>Go to <strong>Dashboard > Class > Learning Plan</strong>.</li>
  <li>Click <strong>Refresh Exercises</strong>.</li>
    <%= image_tag("refreshexercises.png", {:border => 1, :width => "100%", :height => "100%", :title=>"refresh exercises"})%>
</ol>
<p><strong>Note the following <strong>limitations</strong> to Refresh Exercises</strong>:</p> 
  <ol>
    <li>Versioned exercises, i.e. those ending in a version number, <em>cannot</em> be updated using Refresh Exercises. This is because changing a versioned exercise requires creating a new version in Quadbase.</li>
    <p>
    <li>If you refresh exercises that have already been assigned, students who have begun the assignment will <em>not</em> see the updates.</li>
    <p>
  </ol>
  
