<%= section "Register for an OpenStax Tutor class" do %> 

<ol>
  <li>From the <%= SITE_NAME %> homepage, click on (link) Current Classes.</li>
  <li>From the Current Classes page, click on the class you want to register for, e.g. ELEC 301.</li>
  <li>From the class page, click Register.</li>
  <li>If the class has multiple sections, select the section you will attend. If the instructor permits auditing, and you wish to audit, check the audit box.</li>
  <li>Click Create Registration Request to send your request to the instructor. Once the instructor approves your request, you will receive a notification email.</li>
</ol>
  
  <% end %>

