<%= section "Register to teach an OpenStax Tutor class" do %> 

<p>Before you can register to teach a class, site administrators must add your course to the Course Catalog and must add you as an instructor.</p>
<ol>
  <li>Go to the Course Catalog and find the course you plan to teach. (Don't see your course in the Catalog? Go here.)</li>
  <li>Click on Teach This Course, found below the course description. (See your course in the Catalog, but don't see Teach This Course? Go here.)</li>
  <li>Enter the requested information about the class.</li>
  <li>When you have completed the form, click Create Class. You are now ready to add links to course content, create assignments and more. Check out Getting Started for Instructors to find out more.</li>
</ol>
  
  <% end %>