<%= section "Register for a class as a student" do %> 

<ol>
  <li>From the <%= SITE_NAME %> homepage, click on (link) Current Classes.</li>
  <li>From the Current Classes page, click on the name of class.</li>
  <li>From the class page, click the blue Register button.</li>
  <li>If the class has multiple sections, click the section name to reveal a drop down box. Select the section you plan to attend.<>/li>
  <li>Optional: if the instructor has enabled this option, and if you wish to, enter your university/student identification number.</li>
  <li>Optional: if the instructor has enabled auditing, and if you wish to audit, check the box.</li>
  <li>Click Create Registration Request to send your request to the instructor. Once the instructor approves your request, you will receive a notification email.</li>
</ol>
  
  <% end %>

