<ol>
  <li>To re-order items in a list, click the <strong>drag icon</strong> next to an item you want to move;</li>
      <%= image_tag("reorder.png", {:border => 1, :width => "60%", :height => "60%", :title=>"reorder"})%>
    <li><strong>Drag and drop</strong> the item to the location you want.</li>
</ol>