<ol>
  <li>To re-order items in a list, click the symbol next to the item you wish to move;</li>
    <center>
      <%= image_tag("reorder.png", {:border => 1, :width => "60%", :height => "60%", :title=>"reorder"})%>
    </center>
    <li>Drag and drop the item to the location you want.</li>
</ol>