<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Follow these steps:</p>

<ol>
  <li>Check your spam folder for the email.</li>
  <p>
  <li>You may be using an older browser; we recommend downloading the current version of Chrome or Firefox.</li>
  <p>
  <li>Check your browser settings and confirm that JavaScript is enabled.</li>
  <p>
  <li><%= link_to "Go here", new_user_confirmation_path %> to request the confirmation email
   be resent. Enter the email address you used when creating an account.</li>
  <p>
  <li>If you don't receive a confirmation email, try creating a new account with a different email address.</li>
  <p>
</ol>