<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>If you haven't received the confirmation email with an activation link, here are the most common reasons it may not have arrived:</p>
  <ol>
    <li><b>Trapped by email spam filter</b>? Check your junk or spam folder. If the email is there, great! Please make sure that emails from
     <i>@openstaxtutor.org</i> are marked as 
      Not Spam. If the email wasn't trapped by your email spam folder, it is possible your server or ISP blocked it. If this happens, 
      try signing up with another email address.</b></li>
      <p>
    <li><b>You typed the wrong email address when you signed up?</b> No worries, this happens. Just <%= link_to "sign up again", new_user_registration_path %>!</b></li> 
    <p>
    </OL>
 <p>Still having problems? Go to the OpenStax Tutor login page and <%= link_to "request the activation email be resent", new_user_confirmation_path %>.</p>