<p>If you created an account but never received a confirmation email, follow these steps:</p>

<ol>
  <li>Check your spam folder for the email and confirm that that OpenStax Tutor is not being blocked by your email provider.</li>
  <li><%= link_to "Go here", new_user_confirmation_path %> to submit a request to resend the confirmation email. Enter the email address you used when creating an account.</li>
  <li>If you don't receive a confirmation email, please contact <%= email_link "support", "support@openstaxtutor.org" %>.</li>
</ol>