

    <p>Your class can easily be integrated into human subjects cognitive science research studies, and your participation will support advanced research pursuits.</p>

    <p>If you participate, the research team will begin working with you in the planning phase to ensure that experimental conditions meet your educational goals. If you're interested, <%= email_link "support@openstaxtutor.org", "contact us" %> to discuss this possibility. </p>
