    <p><%= SITE_NAME %> researchers are designing and discovering learning strategies that improve student learning outcomes. The result of this research will eventually be molded into a learning engine that multiple learning tools can call upon to bring personalized pathways into individual student's experiences.</p>
  
  <p>Most classes can easily be integrated into human subjects cognitive science research studies. If you are interested, please email <%= email_link "info", "info@openstaxtutor.org" %> to learn more about this possibility. Ideally, the research team would begin working with you during the initial class planning phase. </p>
