    <p><%= SITE_NAME %> researchers are designing and discovering learning strategies that improve student learning outcomes. Help advance knowledge, improve education, and enhance the effectiveness of OpenStax Tutor by participating in a research study. </p>
  
  <p>Most classes can easily be integrated into human subjects cognitive science research studies. If you are interested, please email <%= email_link "info", "info@openstaxtutor.org" %> to learn more about this possibility. Ideally, the research team would begin working with you during the initial class planning phase. </p>
