

    <p>Your class can easily be integrated into human subjects cognitive science research studies, and your participation will support advanced research pursuits.</p>

    <p>If you're interested, please <%= email_link "support@openstaxtutor.org", "contact us" %> to discuss the possibility. Ideally, the research team would begin working with you during the initial class planning phase. </p>
