<p>Use the Scheduler Editing form to prescribe the <em>schedule</em>, or general format, of non-test assignments. OST will build assignments for your class in accordance with the Fschedule(s) listed here. </p>

<strong>Edit Schedule 1</strong>

<ol>
  <li>The first row <strong>(n=0)</strong> controls the current assignment:</li>
  <p>
  <ul>
    <li>Under <em>percent to draw</em>, specify what percentage of exercises OST should draw from each topic attached to the current assignment.</li>
    <p>
    <li>Under <em>labels to apply</em>, enter comma-separated labels, e.g. to activate a feedback condition.</li>
  </ul>
  <p>
  <li>Click <strong>Add a new row</strong> if you want to include exercises from previously assigned topics.</li>
    <ul>
      <p>
    <li>For n=1 assignments ago, specify the percentage and label rules, if any, or leave blank.</li>
    </ul>
    <p>
  <li>Continue adding new rows as necessary.</li>
</ol>
