<p>Attach multiple sections, e.g. MW and TTh, to your class: </p>

<ol>
  <li>Go to <strong>Dashboard > Class</strong> and click on <strong>Sections</strong>.</li>
  <li>Click on <strong>New Section</strong>.</li>
  <li>Enter section name and click <strong>Create Section</strong>.</li>
  <li>Click <strong>Section List</strong> to view sections.</li>
  <li>To rename: move mouse over section name. When orange icons appear, click <strong>pencil icon</strong> to rename.</li>
</ol>
<p>