<ol>
  <li>On this page, click <strong>New Section</strong>.</li>
  <li>Enter section name and click <strong>Create Section</strong>.</li>
  <li>Click <strong>Section List</strong> to view sections.</li>
  <li>To rename: move mouse over section name. When orange icons appear, click <strong>pencil icon</strong> to rename.</li>
  <li>To delete: move mouse over section name. When orange icons appear, click <strong>trash icon</strong> to delete.</li>
</ol>
<p>