<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<ol>
  <li>On this page, click <strong>New Section</strong>.</li>
  <p>
  <li>Enter section name and click <strong>Create Section</strong>.</li>
  <p>
  <li>Click <strong>Section List</strong> to view sections.</li>
  <p>
  <li>To rename: move mouse over section name. When orange icons appear, click <strong>pencil icon</strong> to rename.</li>
  <p>
  <li>To delete: move mouse over section name. When orange icons appear, click <strong>trash icon</strong> to delete.</li>
</ol>
<p>