<%= section "Set up your class." do %> 

<p>Now that you have registered to teach a class and did some initial planning, you are ready to set up your class.</p>

  <ol>
    <li>Enter/edit basic class information. </li>
    <li>Customize class Learning Conditions and Cohorts, if any.</li>
    <li>Customize class Learning Plan. </li>
      <ol>
        <li>Add course materials to the Topics section. </li>
        <li>Create homeworks and tests in the Assignments section. </li>
        <li>View/schedule assignments using calendar in Scheduling section. </li>
      </ol>  
  </ol>
  
  <% end %>