<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<ol>
  <li>From the home page, click <%= link_to "Join Now", new_user_registration_path %>.</li>
  <p>
  <li>Complete the form and captcha, read and agree to the terms of use and click <strong>Sign Up</strong>. </li>
    <%= image_tag("sign_up.png", {:border => 1, :width => "100%", 
       :title=>""})%></p>
  <li>Check your email. We will send an activation link so we can verify your email address. Just click that link to activate your account!</li>
 </ol>
