<ol>
  <li>From the home page, click <%= link_to "Join Now", new_user_registration_path %>.</li>
  <li>Enter your first name, last name and username. Note that these cannot be changed later.</li>
  <li>Enter your email address and confirm it. Please enter an address you check often, as the site will send notifications about assignments to this email.</li>
  <li>Enter your password and confirm it.</li>
  <li>Enter your time zone.</li>
  <li>Complete the Captcha.</li>
  <li>Read and agree to to the User Agreement.</li>
  <li>Click <strong>Sign up</strong>.</li>
</ol>
<p>The site will send a confirmation email with instructions to complete your registration. If you don't receive the email confirmation, check your spam filter. You can also  <%= link_to "click here", new_user_confirmation_path %> to request it be resent.</p>