<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

    <p>You can use the Scheduler to automatically enact massed practice or spaced practice -- without 
      having to rearrange your topics or manually add exercises to assignments.</p>

        <p><b>Massed practice</b></p>

        <p><i>Massed practice</i> is an educational approach that gives 
          students one opportunity to learn a topic, i.e., a student 
          will receive all Topic A questions in one homework assignment, all Topic B in the next, etc. 
          The default Scheduler, which builds homework by pulling 100% of the exercises in an 
          assigned topic, enacts massed practice. </p>

        <p><b>Spaced practice</b></p>

          <p><%= render :partial => 'help/blurbs/spaced_practice' %>
