<p>Thanks for considering <%= SITE_NAME %>!</p>

<p>The first step is to check out our <%= link_to "getting started help page for instructors", help_instructor_getting_started_path %>.</p>  

<p>If you're interested in the enhanced version (working on a research experiment with our cognitive science team), please email us at <%= email_link "support", "support@openstaxtutor.org" %>.</p>