<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

      <p>While OpenStax Tutor gives you several ways to show your work directly in the browser, sometimes that 
      	old school favorite -- pencil and paper -- is the way to go.</p>
      <p>If you have a smart device at your disposal, we make it really easy to upload free-form work directly from your smart phone or tablet.</p>

      <p>This video tutorial will walk you through the process:</p> 

      <%= youtube_video({:height => 360, :width => 640, :code => 'H-4KsJA9vos'}) %>

      <ul>
	      <li>(0:07) Work the problem using pen and paper </li>
      	  <li>(0:10) Use your device to take a picture of your work</li>
          <li>(0:13) Email your work to the designated email, using the assigned subject</li>
      </ul>