<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
      <%= youtube_video({:height => 360, :width => 640, :code => 'Vq-LSWL2eIY'}) %>

<p>This tutorial will guide you through registering for OST and registering for a class.<p/> 
      <ul>    
          <li>(0:09) How to create an account</li>
          <li>(0:30) Good to know when creating an account</li>
          <li>(1:00) What to do if you don't receive a confirmation email</li>
          <li>(1:12) How to register for a class</li>
          <li>(2:16) How to access the class page via the Dashboard</li>
       </ul>

