<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

      <%= youtube_video({:height => 360, :width => 640, :code => 'YpMLMmdw2gY'}) %>

      <p>This tutorial will guide you through showing your work on free-response questions.</p> 
      <ul>
          <li>(0:06) Enter a draft answer in text or LaTeX math notation </li>
          <li>(0:31) Attach an image (gif, jpg, jpeg, png or pdf) </li>
          <li>(0:45) Edit, delete, or reorder your answers </li>
          <li>(1:15) Turn in your free-form work</li>
      </ul>