<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Currently, OST supports <%= link_to "simple multiple choice questions", 
"https://quadbase.org/help/authoring#simple" %>. More question types will 
be supported soon, including matching questions, multipart questions and
open ended questions.</p>

