<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Currently, <%= SITE_NAME %> supports <strong>simple multiple choice questions</strong>. 
  A simple multiple choice must include an <strong>answer stem</strong> and
   <strong>at least two (2) multiple 
  choice answers</strong>.</p>
  
  <p><%= link_to "Go here", "https://quadbase.org/help/authoring#simple" %> for a 
    tutorial on writing a simple multiple choice question in Quadbase.</p>
    
  <p><%= SITE_NAME %> will support additional question types soon, including matching questions, 
    multipart questions, open ended questions and dynamic questions.</p>

