<p>Here are some helpful tips for entering your answer in the free response box.</p>

<style type="text/css">
  li.help_list_item {
    padding-top: 4px;
    padding-bottom: 4px;
  }
</style>

<ul>
  <li class="help_list_item">
    You can write math in this text box using a syntax called LaTeX.  Just make 
    sure any LaTeX is surrounded by dollar signs, e.g. $x^2+1$, or double dollar signs 
    ($$x^2+1$$) to put the math centered on its own line.
  </li>
  <li class="help_list_item">
    Click the "Preview" button to see a rendering of your response, including your entered LaTeX math.
  </li>
  <li class="help_list_item">
    You can also use the "LaTeX Editor" link to help write LaTeX syntax.  Clicking this link will open
    a popup window.  Type into the editor and use the buttons for different kinds of math.  A preview 
    of the math will show up in the popup, then you can click "Copy to Document" to transfer the editor
    content back to the exercise page.
  </li>
  <li class="help_list_item">
    For less-than and greater-than in LaTeX math, make sure to put spaces around the 
    "&lt;" and "&gt;" signs so the browser doesn't think you're writing HTML.  Alternatively, use 
    the "\lt" and "\gt" latex symbols.)
  </li>
</ul>