<p>To reinstate a dropped student: </p>
<ol>
  <li>Go to <strong>Dashboard > Your Class > Class Information</strong>. In the Enrollment section, click on <strong># registered</strong> link.</li>
 <%= image_tag("roster.png", {:border => 1, :width => "50%", :height => "50%", :title=>"create new topic"})%>
  <li>In the roster, click <strong>student name</strong>.</li>
  <li>On the student status page, click <strong>Edit</strong>.</li>
  <li>Click <strong>Reinstate Dropped Student</strong>.</li>
</ol>
<p>
