<p>In OST, the topics section is where you add course materials, i.e. exercises and resources. A topic is a group of related exercises and resources, as well as a building block of an assignment.</p>
   
<p>To get started adding topics:</p>  
<ol>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' to begin adding resources and exercises; </li>
  <li>Rename topic by holding mouse over topic, clicking pencil icon, typing in new name and hitting Enter.</li>
</ol>  


<%= link_to "Learn more about topics.", help_topics_path %></li>
