<p>The Topics section is where you will add links to course materials, organized and sequenced into topics. A topic is a group of related resources and exercises. </p>
   
<p>To get started adding topics:</p>  
<ol>
  <li>Ensure your materials are hosted in Connexions and Quadbase;</li>
  <li>Organize and sequence your course materials into topics;</li>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' and click the Add... links to add resources and exercises; </li>
  <li>Rename or delete your topic by hovering your mouse over the topic until the edit and trash icons appears.</li>
  <li><%= link_to "Learn more about topics", help_topics_path %>.</li>
</ol>  
