<p>The Topics section is where you will add links to course materials, organized into <em>topics</em>.<p>

<p>A topic is a group of related course materials, as well as a building block of an assignment. To get started creating topics:</p>  
<ol>
  <li>Ensure your materials are hosted in Connexions and Quadbase.</li>
  <li>Organize course materials into topics.</li>
  <li>Click <strong>Add new topic</strong>.</li>
  <li><strong><em>Double click</em></strong> on the topic to add resources and exercises. </li>
  <li>Reveal edit/delete icons by hovering your mouse over the topic name, exercise or resource.</li>
</ol>
<%= link_to "Click here to learn more about any of these steps.", help_topics_path %>.
