<p>A topic is a group of related exercises and resources.</p>
   
<p>To get started adding topics:</p>  
<ol>
  <li>Organize and sequence your course materials into topics;</li>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' to add resources and exercises; </li>
  <li>Access edit or trash features by holding mouse over topic box.</li>
</ol>  

<%= link_to "Learn more.", help_topics_path %>
