<p>The Topics section is where you will add links to course materials, organized and sequenced into topics. A topic is a group of related resources and exercises. </p>
   
<p>To get started creating topics:</p>  
<ol>
  <li>Ensure your materials are hosted in Connexions and Quadbase.</li>
  <li>Organize and sequence your course materials into topics.</li>
  <li>Click <strong>Add new topic</strong>.</li>
  <li><strong><em>Double click</em></strong> on the topic to add resources and exercises. </li>
  <li>Hover mouse over topic to show rename and delete icons.</li>
</ol>
<%= link_to "Learn more about topics", help_topics_path %>.
