<p>OST enables you to organize your class materials -- i.e. the resources and exercises you plan to assign -- into <em>topics</em>. <strong>A topic is simply a group of related resources and exercises.</strong> How you organize your topics is up to you, but we recommend you check out our tips for organizing topics first.</p>

<p>To get started adding topics:</p>  
<ol>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' to begin adding resources and exercises; </li>
  <li>Rename topic by holding mouse over topic, clicking pencil icon, typing in new name and hitting Enter.</li>
</ol>  


<%= link_to "Learn more.", help_topics_path %></li>
