<p>The Topics section is where you will add links to course materials, organized into logical groups. A topic is simply a group of related exercises and resources.</p>
   
<p>To get started adding topics:</p>  
<ol>
  <li>Organize and sequence your course materials into topics;</li>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' to add resources and exercises; </li>
  <li>Rename or delete your topic by hovering your mouse over the topic until the edit and trash icons appears.</li>
</ol>  

<%= link_to "Learn more.", help_topics_path %>
