<p>A topic is a group of related exercises and resources. Eventually you will build assignments by listing the topics you create here. </p>
   
<p>To get started adding topics:</p>  
<ol>
  <li>Organize and sequence your course materials into topics;</li>
  <li>Click 'Add new topic';</li>
  <li>Double click on 'New Topic 1' to add resources and exercises; </li>
  <li>Rename topic by holding mouse over topic, clicking pencil icon, typing in new name and hitting Enter.</li>
</ol>  

Learn more.
