<p>The Topics section is where you will add links to course materials, organized into <em>topics</em>.<p>

<p>A topic is a group of related course materials, as well as a building block of an assignment. To get started creating topics:</p>  
<ol>
  <li><%= link_to "Ensure your materials are hosted in Connexions and Quadbase.", help_topics_path(:anchor => "add_content")%></li>
  <li><%= link_to "Organize and sequence course materials into topics.", help_topics_path(:anchor => "organize_content") %></li>
  <li>Click <strong>Add new topic</strong>.</li>
  <li><strong><em>Double click</em></strong> on the topic to add resources and exercises. </li>
  <li>Hover mouse over topic to show rename and delete icons.</li>
</ol>
<%= link_to "Learn more about topics", help_topics_path %>.
