<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>The first step in the answer process is about learning. Trying to generate the answer from memory -- <em>before</em> seeing the multiple-choice options -- is a beneficial learning activity that promotes long-term retention and deeper understanding of the material. Giving full effort on this first step will help you prepare for future quizzes and exams.</p>

 <p>The second step in the answer process is about assessment. The purpose of selecting a multiple-choice alternative during the second answer step is to provide you and your instructor with objective feedback about your performance.</p> 