<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

 <ol>
        <li>Sign in and click <strong>My Account</strong>, found in the upper right 
            of every page, next to the welcome message.</li>
        <p>
        <li>In My Account, update the relevant information.</li>
        <p>
        <li>Enter your current password to confirm changes.</li>
</ol>  