<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<ul>
  <li>A URL ending in a version number points to a specific version:</li>
  <p> 
    <%= image_tag("versioned.png", {:border => 1, :width => "300px", :title => 
      "versioned"})%>
  <p>
  <li>A URL with no version number points to <strong>the latest version of this question
     in Quadbase</strong>:</li>
  <p> 
    <%= image_tag("unversioned.png", {:border => 1, :width => "300px", 
      :title =>"unversioned"})%>
</ul>
<p><strong>Good to know:</strong></p> 
<ul>
  <li>Unversioned URLs may be refreshed if the question changes in Quadbase later. Versioned URLs cannot be refreshed. (See Refresh Exercises in-line help to learn more.)</li>
  <p>
  <li>Caution if using another author's unversioned question URL. Should the author change and refresh the exercise, your question will refresh too.</li> 
</ul>