<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

 <p>Feedback is critical to learning. Reviewing the feedback that OST provides can help you see when you made errors and understand why those errors occurred; however, it is also important to review the feedback for exercises that you got correct because the feedback can help improve your understanding and increase your retention of what you have learned. 
</p>    