<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>We've put together a quick tutorial to walk you through the process step by step. <%= link_to_help 'help/blurbs/student_ff_screencast',
   text="Click here to check out our assignment screencast", 
   {:title => 'Video Tutorial', :width => '700', :height => '425'} %>.</p>

