<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


        <p>We recommend downloading the current version of Chrome or Firefox.</p>
        <p>In addition, JavaScript is required for OpenStax Tutor. Please check your browser
           settings and confirm that JavaScript is enabled.</p>