<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if false %>
  <%# This temporarily removed until we can update it when someone drags on the calendar %>
  <%= assignment_plan.starts_at.strftime("%-m/%-d/%y")%>-<%= assignment_plan.ends_at.strftime("%-m/%-d/%y")%>, 
<% end %>

<span class="hide_when_expanded">
  <%= pluralize(assignment_plan.assignment_plan_topics.count, 'Topic') %>
</span>