<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% 
  free_response ||= @free_response

  html_ids = {
    :form => "free_response_form_#{free_response.non_nil_id}",
  }

  extra_params = {
    :type => free_response.type,
    :free_response_form_id => html_ids[:form]
  }
%>

<%= form_for([@student_exercise, free_response], 
             :as => :free_response, 
             :url => free_response.new_record? ? 
                       student_exercise_free_responses_path(extra_params) : 
                       free_response_path(free_response, extra_params),
             :html => {:id => html_ids[:form]},
             :remote => true) do |f| %>

  <div id="<%= html_ids[:form] %>_errors"></div>

  <%= render :partial => "#{view_dir(free_response)}/form", 
             :locals => {:f => f,
                         :free_response => free_response,
                         :html_ids => html_ids} %>

<% end %>
