<%= pageHeading("An unknown error has occurred") %>

<p>Yikes! Something bad happened here!</p>

<p>An automated message has been sent to the <%= SITE_NAME %> development team.  If you have a moment, it'd be very helpful if you could also  <%= email_link "support", "send us an email" %> describing how you came to be on this error page.</p>
