<% topic = @topic || @topic_exercise.topic %>

<%= form_for([@topic, @topic_exercise], :remote => true) do |f| %>

  <div class="field">
    Exercise URL<br />
    <%= text_field_tag :exercise_url, @topic_exercise.exercise.url, :style => "width: 90%" %>
  </div>
  <div class="field">
    Concept<br/>
    <%= f.select(:concept_id, 
                     options_from_collection_for_select(topic.learning_plan.concepts, :id, :name, 
                                                        @topic_exercise.concept.nil? ? nil : @topic_exercise.concept.id),  
                     :prompt => "Choose a concept")%>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please wait..." %>
  </div>

<% end %>
