<%= pageHeading "Questions for Concept: #{@concept.name}"%>

<ul>
<% @concept.topic_exercises.each do |te| %>
  <li><%= link_to te.exercise.quadbase_id, te.exercise.url %></li>
<% end %>
</ul>

<%
  navitem { link_to "Concepts", learning_plan_concepts_path(@concept.learning_plan) }
%>