<% @errors = @external_assignment.errors %>

<%= form_for([@klass, @external_assignment]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'link_button' %>
  </div>
<% end %>
