<tr>
  <td width="100px"><%= student_external_assignment.student.full_name(present_user)%></td>
  <td width="100px"><%= student_status_string(student_external_assignment.student) %></td>
  <td width="100px"><%= student_external_assignment.grade %></td>
  <% student_external_assignment.external_assignment.external_assignment_exercises.ordered.each do |eae| %>
    <% logger.debug "SEA #{student_external_assignment.id} EA #{student_external_assignment.id} EAE #{eae.id}" %>
    <% seae = eae.student_external_assignment_exercises
                 .where{student_external_assignment_id == my{student_external_assignment.id}}
                 .first %>
    <td width="100px"><%= seae.grade %></td>
  <% end %>
</tr>
