<%= pageHeading "#{@external_assignment.klass.course.name}: #{@external_assignment.name}"%>

<p><b>Name:</b> <%= @external_assignment.name %></p>

<%= link_to_function "Click here if the results are clipped in your browser", 
                     "$('#outer').css('width','4000px');", 
                     :style => "font-size:9px; float:right;"%><br/>

<% students_by_reg_status = @external_assignment.klass.students.visible(present_user).std_sort(present_user).group_by { |s| student_status_string(s) } %>
<% [student_status_string_registered, student_status_string_auditing, student_status_string_dropped].each do |reg_status_str| %>
  <% student_external_assignments = students_by_reg_status[reg_status_str].collect do |student| %>
    <% sea = StudentExternalAssignment.where{student_id == my{student.id}}
                                      .where{external_assignment_id == my{@external_assignment.id}}
                                      .first %>
    <% logger.debug "EA #{@external_assignment.id} student #{student.id} SEA #{sea.id}" %>
    <% sea %>
  <% end %>

  <%= render  partial: "show_sub_table",
              locals: { sub_table_heading:            reg_status_str,
                        external_assignment:          @external_assignment,
                        student_external_assignments: student_external_assignments } %>
<% end %>


<%
  navitem(:can_update?, @external_assignment) {
    link_to 'External Assignment', external_assignment_path(@external_assignment)
  }

  navitem(:can_read_children?, @external_assignment.klass, :external_assignments) {
    link_to 'External Assignment List', klass_external_assignments_path(@external_assignment.klass)
  }

  navitem(:can_read?, @external_assignment.klass) {
    link_to 'Back to Class', klass_path(@external_assignment.klass)
  }
%>
