<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Howdy,</p>

<p>An assignment has been posted for a <%= SITE_NAME %> class you are teaching (<%= full_class_name(@assignment) %>).  Check it out at:</p>

<p><%= link_to assignment_url(@assignment), assignment_url(@assignment) %></p>

<%= render :partial => 'shared/email_closing' %>