<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div style="padding-top:15px"></div>

  <p>Hmmm... you've asked for something that we're not able to provide.</p>

  <p>One common cause for this is not having JavaScript enabled in your browser.  JavaScript is required for many parts of <%= SITE_NAME %>.  Please enable it, go back, and try again.</p>

<%= render 'terp/errors/common' %>