<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div style="padding-top:15px"></div>

  <p>Yikes! Something bad happened here!</p>

<%= render 'terp/errors/common' %>