// Place all the styles related to the Terp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_self
 *= require jquery-ui
 *= require fullcalendar
 *= require on_the_spot
 */


 @import "common";

// Put bootstrap overrides up here


@import "bootstrap";

// bootstrap futzes with paragraph margins
p {
  margin:9px 0;
}

$iframe_width: 800px;
$iframe_height: 600px;

.accordion-group {
  margin-bottom: 6px;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-side($left_radius: 0.5em, $right_radius: 0.5em) {
  -webkit-border-radius: $left_radius $right_radius $right_radius $left_radius;
  -moz-border-radius: $left_radius $right_radius $right_radius $left_radius;
  border-radius: $left_radius $right_radius $right_radius $left_radius;
}

@mixin top-level {
   // width: $iframe_width - 4px;
   margin-left: auto;
   margin-right: auto;
}

.ui-widget input.ui-widget {
  font-size: 11px;
}

body { 
  background-color: $background_color;
  color: $os_gray;
  margin-top:0px;
}

body, p, ol, ul, td, a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:   13px;
}

img {
  border: none;
}

input, textarea {
  font-size:13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #eeeeee;  
  border: 1px solid #e5e5e5;
  padding: 6px;
  width: 100%;
}

input[type='checkbox'] {
  margin-left: 2px;
}

input[type='radio'] {
  margin-left:  3px;
  margin-right: 2px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#terp {
  @include top-level;
  font-weight: normal;
  font-color: #000;
  margin-top: 0px;
  // height: 600px;
  width: $iframe_width;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.ui-dialog {
  top: 50px !important;
}

.top_level_container {}

a, #message_dialog_body a, #help_dialog_body a {
   text-decoration: none;
   color: $ost_hot_blue;
   &:link {}
   &:hover { color: black; text-decoration:none;}
   &:visited {}
   &:active { color: #000;}
}

#main a, #message_dialog_body a, #help_dialog_body a {
   font-weight: normal;
}

$edge_distance: 5px;

@mixin header-main-footer-common {
  padding-left: $edge_distance;
  padding-right: $edge_distance;
}

$header_height: 52px;

#header {
  @include header-main-footer-common;
  z-index:1000;

  height: $header_height;

  position: fixed;
  top:0;
  background: white;
  // background: $os
  border: solid #e5e5e5;
  border-width: 1px 0px;

  .logo  {
    border: 0 none;
    opacity: 1;
    float: left;   
    background: image-url("ost_logo_beta.png") no-repeat transparent;
    margin-top: 11px;
    // margin-left:20px;
    height: 49px;
    width: 286px;
  }
}

#footer {
  @include header-main-footer-common;
  z-index:1000;

  height: $header_height;

  position: fixed;
  bottom:0;
  background: white;
  width: $iframe_width;
  // background: $os
  border: solid #e5e5e5;  
  border-width: 1px 0px;
}

#bottom {
  position: fixed;
  bottom:0;
  background: white;
  width: $iframe_width;
  border-bottom: 1px solid #e5e5e5;  
}

@mixin vertical-bar-common {
  display:inline;
  border-left: 1px solid white;
  margin-left: 4px;
  margin-right: 6px;
}

.account_info {
  @include header-main-footer-common;
  margin-left: -$edge_distance;
    
  font-size: 11px;
  color: white;
  font-family: arial, helvetica, sans-serif;
  padding-top: 27px;
  height: 44px;
  width: 100%;
  margin-bottom: 35px;
  
  div {
    float: right;
  }
  
  img {
    vertical-align: middle;
    padding: 0px 3px 2px 3px;
  }
  
  a {
    font-size: 11px;
    color: white;
    &:hover { color: $ost_hot_blue; text-decoration:none; }
  }
  
  .vertical_bar {
    @include vertical-bar-common;
    border-left-color: white;
  }
}

.account_info.account_bar {
  margin-left: -$edge_distance;
  background-color: $ost_light_beige;
  
  a {
    color: $ost_account_gray;
  }
  
  .vertical_bar {
    @include vertical-bar-common;
    border-left-color: $ost_account_gray;
  }
}

$nav_bar_height: $header_height;

#nav_bar {
  
  height: $nav_bar_height;    
  width: $iframe_width - 2*$edge_distance;

  li.menu {
    text-align: left;
  }
  
  ul.top {
    display:inline;
    padding-left: 0px;
    margin-top: 0px;
    float:right;
    // padding-right: 10px;
     
    li.top {
      display:inline-block;
      list-style-type:none;
      margin:0px 0px;      
      height: $nav_bar_height;
      text-align:center;
    
      a.top {
        color: #777;
        text-decoration: none;
        width: 100%;
        
        &:hover {
          color:white;
        }
        
        span {
          float:left;
          font-size: 14px;
          font-family: arial, helvetica, sans-serif;
          
          $padding-top: 17px;
          padding-top: $padding-top;
          padding-left: 9px;
          padding-right: 9px;
          
          height: $header_height - $padding-top;
          &:hover {
            // background-color: $ost_hot_blue;
            color: #333;
          }
          
          .down-arrow {
            display:none;
          }
          
          em {
            font-style:normal;
          }
        }
        
        span.help_highlight {
          background-color: $os_yellow;
          color: white;
          &:hover {
            background-color: $ost_hot_blue;
          }
        }
        
        span.current {
          background-color: $ost_hot_blue;
          color: white;
          position: absolute;

          em {
             background: image-url("pointer.png") no-repeat top center;
             position: absolute;
             height:62px;
             width: 100%;
             top: 3px;
             left: 0%;
             font-style: normal;
             z-index: 2;             
          }
        }
        
      }
    }

    li.top.last a span {
      padding-right: 0px;
    }
  }

}

#right_column_2c.column {
  a {
    color: black;
    &:hover {
      color: $ost_hot_blue;
    }
  }
}

.link_button {
  background-color: $ost_hot_blue;
  color: white;
  // font-weight: bold;
  padding: 5px 13px 5px 14px;
  font-size: 11px;
  border:none;
  @include rounded(13px);
 
  &:hover {
   background-color: darken($ost_hot_blue, 10%);
   color: white;
   text-decoration:none;
  }
}

.link_button_left {
  @extend .link_button;
  @include rounded-side(13px, 0px);
}

.link_button_right {
  @extend .link_button;
  @include rounded-side(0px, 13px);
}

.link_button_straight {
  @extend .link_button;
  @include rounded-side(0px, 0px);
}

.link_button_terp {
  @extend .link_button;
  @include rounded-side(0px, 0px);
  padding: 8px 13px 10px 14px;
}

#message_dialog_body a.link_button_terp {
  color: white;
}

input[disabled].link_button {
  background-color: $ost_hot_blue;
}

#big_get_button {
  font-size: 13px;
  padding: 8px 16px;
  margin: 20px 0;
    font-weight: bold;
}

.link_button_gray {
  background-color: $os_gray;
 
  &:hover {
   background-color: darken($os_gray,10%);
  }
}


#main {
  @include header-main-footer-common;
  padding-bottom: 47px;
  // margin-bottom: -15px;
  margin-top: 10px + $header_height;
}


#page_heading {
   padding: 10px 0 7px;
   font-size: 16px;
   font-weight: 700;
   font-style: normal;
   color: $os_gray;
}

#page_sub_heading {
   font-size: 14px;
   margin-top:3px;
   font-style: italic;
}

.section {
   margin: 28px 0px 18px 0px;
   @extend .bar_topped_block;
}

.section.first {
  margin-top: 0px;
}

.section.no_bar {
  border-top: none;
}

.section_heading {
   font-size: 16px;
   a { font-size: 16px; }
   margin:3px 0px;
   color: $os_dark_gray;
   padding-bottom: 8px;
}

.section_body {
   margin:0px 0px 0px 15px;
}

.sub_section {
   margin: 0px 0px 12px 0px;  
}

.sub_section_heading {
   font-size: 14px;
   font-style: italic;
   margin:3px 0px 6px 0px;
}

.sub_section_body {
   margin:0px 0px 0px 15px;
}

#attention {
   margin-bottom:0px;
   margin-top: $header_height;
   clear:both;

   a {
     text-decoration: underline;
   }

   div {
    div.ui-corner-all {
      margin-bottom: 0px;
    }
   }
}

.js_not_enabled_alert {
  margin-top:-10px;
  margin-bottom:-10px;
}

div.field, div.actions {
  margin-bottom: 15px;
}

.field_label, div.field label {
  margin-bottom: 3px;
}

div.field label {
  display:inline-block;
  margin-bottom: 3px;
}

td {
  label {
    margin-bottom: 0px;
  }
}

.field_help {
   font-size:11px;
   color: #999;
   margin-top:-7px;
}

.terp_field_help {
    font-size:11px;
   color: #999;
   margin-top:-10px; 
}

.field_with_errors {
  padding: 2px;
  background-color: $os_dark_orange;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #b22222;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.framed_content {
   border: 1px solid $os_gray;
   padding: 7px;
   margin: 10px;
}

.framed_content_inner {
   margin: 0px;
//   background-color: lighten($color3,12%);
   color: $color2;
   padding: 7px 12px;
}

.framed_content_heading {
  font-size: 16px;
  padding-bottom: 6px;
}

.icon_only_button {
   width: 20px;
   height: 20px;
   @include rounded(8px);
}

.icon_only_button_small {
   width: 16px;
   height: 16px;
   @include rounded(8px);
}




.red {
   color: #b22222;
}

.bar_topped_block {
  padding-top: 15px;
  border-top: 1px solid #898989;
}

/************ Specific Pages ******************/

#exercise_response_show {
   width:600px;
   margin: 20px auto;
   clear: right;
}

#question_outer {
   // width:600px;
   width: 100%;
   // margin: 20px auto;
   clear: right;
   // margin-left: 6px;

   // &.present_feedback {
   //   .section_heading { display: none }
   //   .section_body {margin: 0}
   // }

   input[type='radio'] {
     width: 15px;
     height: 15px;
   }
}

#question_text {
  margin-top: 6px;
  margin-bottom: 20px;
  p, ol, ul, li, td, a {
    font-size: 17px;  
  }
}

.terp-instructions {
  margin-top: 16px; margin-bottom:-5px;
  font-style: italic;
  color: #777;
  font-size: 13px;
}

/************ 2-column layout *****************/


#column_container_2c {
   width: 100%;
   overflow:hidden;

}

#right_column_2c {
   float:right;
   width:170px;
   padding: 0px 0px 0px 10px;
}

#right_column_2c.bar_topped_block {
  @extend .bar_topped_block;
}

#column_container_2c .column {
   padding-bottom: 20010px;  /* X + padding-bottom */
   margin-bottom: -20000px;  /* X */
}

#main_column_2c {
  padding: 0 10px 0 0;
   width: 600px;
   float:left;
}

#main_column_2c.bar_topped_block {
  @extend .bar_topped_block;
}

/************ GENERIC LIST TABLE *********************/

table.list {
  font-size: 13px;
  font-weight: normal;
  font-color: #000000;
  margin-top:5px;
  text-align: left;
  padding: 2px;
  border-spacing: 2px;
  border-width: 0px 0px 0px 0px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  border-collapse: collapse;
}

table.list th {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid black;
}

table.list tr {
  border-bottom:1px solid #ddd;
}

table.list td.assignment_name {
  padding-right: 10px;
}

table.list td.assignment_grade {
  text-align: right
}

table.list td.outlined_cell {
  border-left: 1px solid #ddd; 
  border-right:1px solid #ddd; 
  padding: 8px;
}

table.list.assignment {
  width: 95%;

  th.assignment_number {
    width: 5%;
  }
  
  th.assignment_name {
    width: 55%;
  }

  th.assignment_start {
    width: 20%;
  }

  th.assignment_end {
    width: 20%;
  }
}

table.list.student_assignment {
  width: 95%;
  
  th.assignment_number {
    width: 5%;
  }
  
  th.assignment_name {
    width: 40%;
  }

  th.assignment_start {
    width: 20%;
  }

  th.assignment_end {
    width: 20%;
  }
  
  th.assignment_grade {
    width: 15%;
    text-align: right
  }
}

table.left_heading {
  font-size: 13px;
  font-weight: normal;
  font-color: #000000;
  margin-top:5px;
  text-align: left;
  padding: 2px;
  line-height: 19px;
  border-spacing: 2px;
  border-width: 0px 0px 0px 0px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  border-collapse: collapse;

}

table.left_heading th {
  font-weight: bold;
  text-align: left;
  padding-right: 16px;
  vertical-align:top;
}

table.left_heading_light th {
  font-weight: normal;
  font-style: italic;
}

table.left_heading td {
  padding-left: 8px;
  padding-right: 8px;
  vertical-align:top;
}

table.left_heading th, td {
  padding-top: 3px;
  padding-bottom: 3px;
}

table.klass_management_overview th, td {
  padding-left:  5px;
  padding-right: 5px;
}

.left_heading_offset {
  margin-left:40px; 
  margin-right:150px;
}

.white-ui-icon { 
  width: 16px; 
  height: 16px; 
  background-image: url(/assets/ui-icons_ffffff_256x240.png); 
}

.item_box {
  float: left;
  margin: 0 45px 10px 0;
  width: 230px;
}

.item_box {
  h3 {
    color: $os_dark_gray;
    font-weight:normal;
//    border-bottom: 1px solid lighten($os_gray,40%);
  }
}

.book_box {
  float: left;
  margin: 0 50px 30px 0;
  width: 800px;
  .cover_image {
    border: 1px solid black;
    margin: 0px 20px 20px 0;
    float: left;
  }
  h3 {
    color: $color1;
    font-weight:normal;
    margin-top: 0;
  }    
}

span.switcheroo { unicode-bidi:bidi-override; direction: rtl; }

span.antispam {display:none;}

.social_header_buttons {
//  float:right; 
//  margin-top:-3px; 
  margin-left: 16px;
  
  a {
    margin-left: 6px;
    
    img {
      vertical-align: middle;
    }
  }
}

.required {
  color: $os_orange;
}


#clock {
   font-size: 11px;
   color: #aaa;
   padding-top:8px;
}

.dropped_student {
  color: #bbbbbb;
}

.topic_info {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  
  .topic_buttons {
    float:right;
    display:none;
  }
  
  .topic_summary {
    padding-left: 15px;
  }
  
  .topic_sub_section {
    padding-top:5px;
    padding-left: 15px;
    
    .left_text {
      width:80px; 
      display: inline-block;
    }

  }
  
  .topic_heading {
    font-size: 13px;
    font-weight: bold;
    padding: 0;
  }
  
  .topic_body {
    display:none;
  }
}

.lp_item_info {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  
  .lp_item_buttons {
    float:right;
    display:none;
  }
  
  .lp_item_summary {
    padding-left: 15px;
    padding-top: 3px;
    display: block;
  }
  
  .lp_item_sub_section {
    padding-top:5px;
    padding-left: 15px;
    
    .left_text {
      width:80px; 
      display: inline-block;
    }

  }
  
  .lp_item_heading {
    font-size: 13px;
    font-weight: bold;
    padding: 0;
  }
  
  .lp_item_body {
    display:none;
  }
}

.sortable_item_buttons .edit_button {
  margin-right: 7px;
}

@if false
{
  .test {
    outline: #ff00ff dotted thin;
  }
  
  @if false {
    .test.clickable {
      outline: #00ff00 dotted thin;   
    }
  }
  
}

////////////////////////////////////////////////////////////////////////////////
//
// The following help to make the OS colors available to Javascript (they
// are used in invisible elements that jQuery can read)

.os_green { background-color: $os_green; }
.os_orange { background-color: $os_orange; }
.os_gray { background-color: $os_gray; }
.os_yellow { background-color: $os_yellow; }
.os_blue { background-color: $os_blue; }
.os_dark_orange { background-color: $os_dark_orange; }

.ost_light_beige { background-color: $ost_light_beige; }
.white { background-color: white; }

//
////////////////////////////////////////////////////////////////////////////////

.fc-today {
  background: lighten($os_yellow,20%);
}

#main.home_page_image {
  background: image-url("student_full_home_haze.jpg");
  height: 544px;
  padding-bottom: 0px;
}

.faq_detail_question {
  font-weight: bold;
  padding-top: 8px;
}

.faq_detail_answer {
  padding-left:30px;
  display:none;
  padding-bottom: 15px;
}

#main {
  .accordion-heading {
  background-color:$ost_light_beige;
  font-weight: bold;
  a.accordion-toggle {
    color: $os_blue;
    font-weight: bold;
    &:link { color: $os_blue;}
    &:hover { color: black; font-decoration: none;}
    &:visited {}
    &:active { color: #000;}
  }
     
}
}

input.ui-widget {
  font-size: 11px;
}

///////// FREE RESPONSES ///////////

.free_response {
  margin-bottom:14px;
  clear:both;
}

.free_response_form {
  background-color: #eee;
}

.free_response_form input[type="file"],textarea {
  background-color: #fff;
}

///////// FOLLOW UP QUESTIONS ///////////

.follow_up_question {
  margin-bottom:6px;
  background-color: #eee;
  clear:both;
}

@mixin content-box {
  visibility: visible; 
  overflow: hidden; 
  position: relative; 
  z-index: 2; 
  border: 1px solid #ccc; 
  padding: 15px; 
  width: 560px;
  margin-top:10px;
}

.question-box {
  // @include content-box;
}

.free-response-box {
  @include content-box;
}

@mixin question_header {
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 12px;
}

.question_number {
  @include question_header;  
}

.question_x_of_y {
  float:right;
  @include question_header;
}

.section-exercise-responses {
  .free-response-box {
    width: 420px;
  }
}

.analytics-topic {
  padding-bottom: 10px;
  clear:both;
}
.analytics-topic-name {
  font-style: italic;
}
.analytics-topic-details {
  padding-left: 30px;
  padding-top:8px;
}

.analytics-topic-data {
  float:left;
}

.analytics-topic-study {
  float:left;
  padding-top:12px;
  padding-left:30px;
}

.analytics-topic-review {
  float: left;
  padding-top:12px;
  padding-left: 45px;
}

// See http://stackoverflow.com/a/8318171 for details on blinking elements.
@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

.blink {
  -webkit-animation-name:            blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:        2s;
}

.profiler-results {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  &.profiler-right {
    left: 0px;
    right: auto !important;
  }
}

.quiz_start {
  padding-top: 0px;
  width: 700px;
  margin: 0 auto;

  .heading {
    font-weight: bold;
    padding-bottom: 15px;
  }

  .info {

  }

  .due_date {

  }

}

.row.correct-answer {
  background: image-url("green_check_v2.png") no-repeat transparent;  
}

.row {
  .choice-letter {
    padding-left: 10px;
  }
}

.nav-button {
  margin: 0px auto;
  padding-top: 20px;
  clear: both;
  text-align: center;
}

#terp-contents {
  padding: 15px 0px;

  .instructions {
    font-weight: bold;
    padding-bottom: 15px;
  }
}

.middle-space {
  margin-left: 102px;

  .or-bar {
    margin-bottom: 35px;
    margin-top: 10px;
    margin-left: 50%;
    position: relative;
    height: 230px;
    border-left: 1px solid #dddddd;

    .or-text {
      position: absolute;
      left:-24px;
      top: 86px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: -50%;
      padding: 14px 14px;
      background: white;
      font-weight: bold;
    }      
  }  
}

#forgot_password {
  .or-text {
    left: -40px;
    width: 75px;
    top: 99px;
  }

  .or-bar {
    height: 250px;
  }
}

.prompt {

  padding-top: 0px;
  width: 700px;
  margin: 0 auto;

  .prompt-instructions {
    font-weight: bold;
    padding-bottom: 15px;
  }

  .prompt-form {

    .prompt-buttons {
      padding-top: 10px;
    }

  }
}

#confirmation-code-help {
  padding-top: 15px;
  ul {
    padding-top: 8px;
    width: 600px;
  }
}

.terp-simple-message {
  font-size: 18px;
  line-height: 28px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fixed-right-button {
  position: fixed;
  left: 0px;
  bottom: 10px;
  z-index: 2000;

  input, a {
    font-size: 15px;
    display: inline-block;
  }
}

.terp-explanation {

  .terp-explanation-separator {
    margin: 8px;
    border-top: 1px solid $ost_light_beige;
  }
}



label.answer-content {
  padding: 3px;
  // padding-left:8px;
}

div.terp-answer-choices {
  div.terp-answer-choice {
    border: 2px solid white;
    width: 75%;
    &.highlighted-choice {
      border: 2px solid #e4f5ff;
      label, label p {
        font-weight: bold;
      }
    }
    label p {
      font-size: 14px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    input[type='radio'] {
      display: inline-block;
      margin-top:-1px;
      margin-right: 6px;
      margin-left: 17px;
    }
    .letter {
      display: inline-block;
      margin-left: 6px;
    }
    .content {
      display: inline-block;
    }
  }
}

// table.terp-answer-choices {
//   tr {
//     border: 2px solid white;

//     &.highlighted-choice {
//       border: 2px solid #e4f5ff
//     }
//   }

//   label {
//     font-size: 13px;
//   }
// }

span {
  &.terp-correct-answer, &.terp-incorrect-answer {
    width: 30px;
    height: 30px;
    display:block;    

    &.summary {
      margin-bottom: -8px;
      margin-left: 18px;
      display: inline-block;
    }
  }

  &.terp-correct-answer {
    background: image-url("check_mark.png") no-repeat transparent;  
  }

  &.terp-incorrect-answer {
    background: image-url("x_mark.png") no-repeat transparent;  
  }
}

.terp-guess-was {
  .terp-guess-was-intro {
    font-size:15px;
    margin-bottom: 6px;
   
  }
  .terp-guess-was-content {
    color: #888;
    font-size: 13x;
    font-style: italic;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
    // width: 97.5%;
  }
}

.terp-now-select {
  font-size:15px;
  margin-top: 8px; 
  margin-bottom: 6px;
}


.terp-correctness-feedback {
  font-weight: bold;
  margin-bottom: 24px;

  .terp-correct-feedback {
    color: $os_green;
    display: inline-block;
  }

  .terp-incorrect-feedback {
    color: rgb(237,28,36);
    display: inline-block;
  }
}

.terp-summary-nav {
  position: fixed;
  right: 27px;
  top: 300px;
}

.page-alpha {

  padding-top: 0px;
  width: 600px;
  // margin-left: 25px;

  .instructions {
    font-weight: bold;
    padding-bottom: 15px;
  }

  .content {

  }
}

@mixin terp-summary-item {
  width: 60px;
  height: 30px;
  text-align: center;
  color: white;
  margin-bottom: 2px;
}

.terp-summary-nav {
  .terp-summary-nav-item {
    @include terp-summary-item;
    background: image-url("terp-summary-link-2.png") no-repeat transparent;  
    
    span {
      padding-top:6px;
      display:inherit;
      font-size: 11px;
    }

    &.correct {
      background-color: $os_green;
    }

    &.incorrect {
      background-color: rgb(237,28,36);
    }
  }
}

.terp-summary-nav-simple {
  @include terp-summary-item;
  background-color: $ost_hot_blue;

  &.popout {
    background: image-url("popout.png") no-repeat $ost_hot_blue 20px 4px;  
  }
  
}

.terp-dashboard-status {
  &.complete {
    color: $os_green;
  }

  &.started {
    color: $os_orange;
  }

  &.not-started {
    color: black;
  }
}

.section.summary-question {
  border-top: 1px solid #d9d9d9;
  margin-bottom: 27px;
  margin-top:10px
}
