<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "edit"}} %>
<% addTestMeta {{:major_name => @organization.name}} %>

<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization, :test => "show" %> |
<%= link_to 'Back', organizations_path, :test => "back"  %>
