<% addTestMeta {{:page_type  => "edit"}} %>
<% addTestMeta {{:major_name => @organization.name}} %>

<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization, :test => "show" %> |
<%= link_to 'Back', organizations_path, :test => "back"  %>
