<%# Copyright 2011-2014 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%#

Params:

  exercise
  show_url: optional. default: false.
%>

<%
  question = exercise.content["simple_question"]
  show_url = false if local_assigns[:show_url].nil?
%>

<div class="exercise-question">
  <div class="question question-box">
    <div class="question intro">
      <% if !question["introduction"].nil? %>
        <%= question["introduction"]["html"].html_safe %>
      <% end %>
    </div>

    <div class="question question-text">
      <%= question["content"]["html"].html_safe %>
    </div>
    <% if show_url  %>
    <div class="question question-link">
      <%= render 'exercises/url', :exercise => exercise %>
    </div>
    <% end %>
  </div>
</div>
