<%# Copyright 2011-2014 Rice University. Licensed under the Affero General Public
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients must supply:
      exercise
%>

<%
  question = exercise.content["simple_question"]
%>

<a href="<%= question['url'] %>" class="question-url"><%= question["url"] %></a>
