<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p>Hi <%= @registration_request.user.first_name %>,</p>

<p>You have been accepted into <%= full_class_name(@registration_request) %>.</p>

<%= render :partial => 'shared/email_closing' %>