<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%
  html_ids[:text_box] = "free_response_content_#{free_response.non_nil_id}"
%>

<div class="field">

  <div style="margin-bottom:12px" class="actions">
    <div style="display:inline-block; padding-top:5px">

      Enter a free-form answer: <%= link_to_help 'text_free_response', "", {:title => 'Text Answers'} %>
    </div>
    <span style="float:right">
      <%= link_to_function "Cancel", "cancel_free_response_edit('#{free_response.non_nil_id}', true);" %>
      &nbsp;&nbsp;&nbsp;
      <%= f.submit "Save", :class => 'link_button' %>
    </span>
  </div>

  <%= f.file_field :attachment %> 

  <%#= f.text_area :content, :rows => 5, :style => "width:98.5%", :id => html_ids[:text_box] %>

 </div>
