<%= pageHeading "Consent Form: #{@consent_form.name}" %>

<table class="left_heading">
  <tr>
    <th>Content</th>
    <td><%= @consent_form.html.html_safe %></td>
  </tr>
  <tr>
    <th>E-signature Required?</th>
    <td><%= tf_to_yn(@consent_form.esignature_required) %></td>
  </tr>
</table>

<%
  navitem { link_to "Edit", edit_consent_form_path(@consent_form) }
  navitem { link_to "List", consent_forms_path }
%>
