
<ul>
  <li>Matches Labels Against: <%= feedback_condition.label_regex || "[Not set]" %></li>
  <li>Feedback Viewing is Required?: <%= tf_to_yn(feedback_condition.is_feedback_required_for_credit) %></li>
</ul>

