<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

 <p>At this time, Concept Coach is available only to selected research 
 	partners. If you are a college physics instructor and you would 
    like to learn more about partnering with us on research studies 
    and class pilots, please <%= email_link "support", "let us know" %>!</p>

 <p>Other questions? Just <%= email_link "support", "send us an email" %> and we'd be 
	glad to answer them.</p>