<%# @student_assignment must be set %>
<%
  ap = @student_assignment.assignment.assignment_plan
  klass = @student_assignment.assignment.klass
%>

<div class='heading'>
  <%= klass.name %>, <%= ap.name %>
</div>

<div class='info'>
  <p>This criterial assessment is lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p>You will have one attempt per question. This activity is untimed. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p><%= @student_assignment.assignment.assignment_plan.introduction %></p>
</div>

<div class='due_date'>
  Due Date: <%= standard_datetime(ap.ends_at) %>
</div>
