<% current_number = student_exercise.assignment_exercise.number %>

<div class='question_x_of_y'><%= current_number %> of <%= student_exercise.student_assignment.assignment.assignment_exercises.count %></div>
<div class='question_number'>Question <%= current_number%></div>

