




<%= lev_form_for :register, url: terp_register_path(params[:terp_id]) do |f| %>


  <div class='field '>
    <div class='field_label'>Registration Code</div>
    <%= f.text_field :registration_code %>
  </div>
  
  <div class='prompt-buttons'><%= f.submit "Register", :class => "ui-state-default link_button" %></div>
<% end %>
