<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


<script type='text/javascript'>

  $(document).ready(function() {
    $('#tutorial_dialog').dialog({
      modal: true,
      height: 500,
      width: 700,
      buttons: [
        {
          text: "Close",
          click: function() {
            $('#tutorial_dialog').dialog('close');
          }
        }
      ],
      open: function() {
        $("#consent_form_dialog").scrollTop("0");
      }
    }).parent().css('position', 'fixed');
   
  });

</script>
   
    
<div id="tutorial_dialog" style="display:none" title="Concept Coach Tutorial">

  <div id="tutorial_dialog_errors"></div>        
  
    <p>Tutorial goes here.  Changes coming to make this window only show up once.</p>
  
</div>