<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


<script type='text/javascript'>

  $(document).ready(function() {
    $('#tutorial_dialog').dialog({
      modal: true,
      height: 500,
      width: 700,
      buttons: [
        {
          text: 'Full Screen',
          click: function() {
            window.open('https://docs.google.com/presentation/d/1QjgBdgusvyqda7olHzhl1cOPcNRv3gjekHKjJa_BH6M/pub?start=false&loop=false&delayms=5000', '_blank');
          }
        },
        {
          text: "Close",
          click: function() {
            $('#tutorial_dialog').dialog('close');
          }
        }
      ],
      open: function() {
        $("#consent_form_dialog").scrollTop("0");
      }
    }).parent().css('position', 'fixed');
   
  });

</script>
   
    
<div id="tutorial_dialog" style="display:none" title="Concept Coach Tutorial">

  <div id="tutorial_dialog_errors"></div>        
  
  <center>
  <iframe src="https://docs.google.com/presentation/d/1QjgBdgusvyqda7olHzhl1cOPcNRv3gjekHKjJa_BH6M/embed?start=false&loop=false&delayms=5000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</center>

</div>