<div class='prompt'>
  <div class='prompt-instructions'>
    If you're on this page, it's because your browser has blocked this content by default. 
  </div>

<div class='terp-h2'>
    Using Internet Explorer?
  </div>

  <p>Recommended option:</p> 

  <ul>
     <li>For a great experience, we recommend using Chrome, Firefox, or Safari. If you prefer IE, see alternate option below.</li>
  </ul>

  <p>Alternate option:</p>
  <ol>
    <li>Open Internet Explorer, open the <strong>Tools</strong> menu, then open <strong>Internet Options</strong>.</li>
    <li>Select the <strong>Privacy tab</strong>. Click <strong>Advanced</strong> and enable 3rd party cookies.</li>
  </ol> 
  
  </p>
  <div class='terp-h2'>
    Using Safari, Chrome, or Firefox?
  </div>

    <ol>
      <li><a href="/quick_close" id="quick_close"><strong>Click here</strong></a> to teach your browser that you trust the OpenStax Tutor site.</li>
      <li><strong>Refresh this page</strong>.</li>
      <li><strong>Sign into Concept Coach again</strong>.</li>
      <li>Note: if you reset your browser, you may need to repeat this process.</li>
    </ol>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#quick_close').click(function() {
      return !window.open($(this).attr('href'), "pop", "width=600, height=400");
    });
  });
</script>