<div class='prompt'>
  <div class='prompt-instructions'>
    If you're on this page, it's because your browser has blocked this content by default. To enable Concept Coach, you can switch to a different browser like Chrome or Safari. Or follow the instructions below:
  </div>

  <div class='terp-h2'>
    Using Safari?
  </div>

  <p>
    Recommended option: 

    <ol>
      <li><a href="/quick_close" id="quick_close"><strong>Click here</strong></a> to teach Safari that you trust the OpenStax Tutor site.</li>
      <li><strong>Reload this entire page</strong>.</li>
      <li>Then <strong>sign in again</strong> to this Concept Coach.</li>
      <li>Repeat this process whenever you reset Safari.</li>
    </ol>

    <p>Alternate option:</p>

    <ol>
      <li>Open Safari, then open <strong>Safari Preferences</strong>. Under the <strong>Privacy</strong> tab, unblock 3rd party cookies.</li>
    </ol>
  </p>

  <div class='terp-h2'>
    Using Internet Explorer?
  </div>

  <p>Recommended option:</p> 

  <ol>
     <li>If you prefer not to enable 3rd party cookies, please use Chrome, Firefox, or Safari instead.</li>
  </ol>

  <p>Alternate option:</p>
  <ol>
    <li>Open Internet Explorer, open the <strong>Tools</strong> menu, then open <strong>Internet Options</strong>.</li>
    <li>Select the <strong>Privacy tab</strong>. Click <strong>Advanced</strong> and enable 3rd party cookies.</li>
  </ol> 
  
  </p>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#quick_close').click(function() {
      return !window.open($(this).attr('href'), "pop", "width=600, height=400");
    });
  });
</script>