<%= @consent.consent_options.consent_form.html.html_safe %>
  <br/>
  
  <p><b>Please choose a consent option in the popup window; this full-page view is only for easier reading of the consent form.</b></p>