<% @hide_dashboard = true %>

<%
  matching_assignment_plans = AssignmentPlan.where{embed_code == my{params[:terp_id]}}

  if matching_assignment_plans.none? 
    %>
      <div class='terp-simple-message'>
        No Concept Coach is available for this section of the textbook.  Please continue to the next textbook section assigned by your instructor.
      </div>
    <%
  else
    matching_classes = Klass.joins{learning_plan.assignment_plans}.where{learning_plan.assignment_plans.id.in my{matching_assignment_plans.collect{|ap| ap.id}}}
    
    current_user_in_class_with_this_assignment = 
      Student.joins{section.klass}.where{section.klass.id.in my{matching_classes.collect{|mc| mc.id}}}.where{user_id == my{current_user.id}}.any?

    if current_user_in_class_with_this_assignment
      %>
        <div class='terp-simple-message'>
          This Concept Coach has not yet been released.  Please check back later.
        </div>
      <%
    else # this user isn't in the class where this assignment is offered

      # check to see if the student is in any CC class.  
      current_user_in_active_embedded_class = 
        Student.joins{section.klass}
               .where{section.klass.is_embedded == true}  # concept coach
               .where{section.klass.start_date.lte Time.now}.where{section.klass.end_date.gt   Time.now} # active
               .where{user_id == my{current_user.id}}.any? # this user
      %>

      <%
      if current_user_in_active_embedded_class
      %>
        <div class='prompt'>
          <div class='prompt-instructions'>
            Nothing to see here! Your class doesn't have a Concept Coach review in this section. Please move on to the next section assigned by your instructor. 
          </div>
          <div class='prompt-form'>
            Why is this happening? This Concept Coach review is assigned to a different class using the same book. Since this review isn't relevant to your class, please proceed to the next section assigned by your instructor. We apologize for the inconvenience. 
          </div>
        </div>        
      <%
      else # should be shown registration option
      %>
        <div class='prompt'>
          <div class='prompt-instructions'>
            Before you can work this Concept Coach you must register for a class offering it by entering that class' registration code below.
          </div>
          <div class='prompt-form'>
            <%= render 'terp/register' %>
          </div>
        </div>
      <%
      end

    end

  end
%>
