
<%
  matching_assignment_plans = AssignmentPlan.where{embed_code == my{params[:terp_id]}}

  if matching_assignment_plans.none? 
    %>
      <div class='terp-simple-message'>
        No Concept Coach is available for this section of the textbook.  Please continue to the next textbook section assigned by your instructor.
      </div>
    <%
  else
    matching_classes = Klass.joins{learning_plan.assignment_plans}.where{learning_plan.assignment_plans.id.in my{matching_assignment_plans.collect{|ap| ap.id}}}
    
    current_user_in_class_with_this_assignment = 
      Student.joins{section.klass}.where{section.klass.id.in my{matching_classes.collect{|mc| mc.id}}}.where{user_id == my{current_user.id}}.any?

    if current_user_in_class_with_this_assignment
      %>
        <div class='terp-simple-message'>
          This Concept Coach has not yet been released.  Please check back later.
        </div>
      <%
    else # this user isn't in the class where this assignment is offered, show a registration code form
      %>
        <div class='prompt'>
          <div class='prompt-instructions'>
            Before you can work this Concept Coach you must register for a class offering it by entering that class' registration code below.
          </div>
          <div class='prompt-form'>
            <%= render 'terp/register' %>
          </div>
        </div>
      <%
    end

  end
%>
