<h1>Terp#question_free_response</h1>
<p>Find me in app/views/terp/question_free_response.html.erb</p>

<%= render "student_exercises/question", student_exercise: @student_exercise %>

<p>submit button --> answer_select_page </p>