
<%= render :partial => 'shared/response_times',
           :locals => {:response_timeable => @student_assignment,
                       :page => "assignment"} %>

<div class='quiz_start'>
  <div class='heading'>
    Quiz Summary
  </div>

  <div class='info'>
    <p>TBD reports / analytics / recommendations / details about worked problems</p>
  </div>


</div>
