<%
  ap = @student_assignment.assignment.assignment_plan
  klass = @student_assignment.assignment.klass
%>

<%= render :partial => 'shared/response_times',
           :locals => {:response_timeable => @student_assignment,
                       :page => "assignment"} %>



<div class='quiz_start'>

  <%= render :partial => 'instructions' %>

  <div class='fixed-right-button'>
    <%= link_to "Start >", 
                terp_solicit_free_response_path(
                  terp_id: params[:terp_id], 
                  student_exercise_id: @student_assignment
                                         .student_exercises
                                         .joins{assignment_exercise}
                                         .order{assignment_exercise.number.asc}.first),
              {class: 'link_button_terp'} %>
  </div>


</div>
